<template>
  <div class="col-sm-12">
    <div class="consegna">
      <i class="zmdi zmdi-truck zmdi-hc-border-circle f-left"></i>
      <strong class="arancione">
        Consegna express
        <span v-show="spedGratis">GRATIS</span>:
      </strong>
      <br />il prodotto sarà affidato al corriere in circa
      <strong>{{(tempoProdotto != "Nessuno") ? tempoProdotto : tempoMarca}}</strong>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConsegnaProdotto",

  props: {
    tempoMarca: String,
    tempoProdotto: String,
    spedGratis: Boolean
  }
};
</script>