<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row mb-50">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <galleria-prodotto :codice="prodotto.variants[0].code.toLowerCase()"></galleria-prodotto>
          </div>

          <div class="col-md-push-1 col-md-6 col-sm-7 col-xs-12">
            <h1>{{prodotto.subname ? prodotto.subname : prodotto.metaTitle}}</h1>

            <hr />

            <div class="row">
              <marca-prodotto :marca="prodotto.brand.label" :codice="prodotto.variants[0].code"></marca-prodotto>
              <rating-prodotto></rating-prodotto>
            </div>

            <hr />

            <select-varianti-prodotto :varianti="prodotto.variants"></select-varianti-prodotto>

            <prezzi-prodotto :variante="prodotto.variants[variantePrezzo()]"></prezzi-prodotto>

            <hr />

            <select-tendine-prodotto :variante="prodotto.variants[variantePrezzo()]"></select-tendine-prodotto>

            <div class="row" id="aggiungi">
              <div class="col-sm-12">
                <form method="post" class="cart">
                  <div class="cart-plus-minus f-left hidden-xs">
                    <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box" />
                  </div>
                  <button
                    class="bottone1"
                    type="submit"
                    v-if="acquistabile"
                    @click.prevent="aggiungiCarrello()"
                  >AGGIUNGI AL CARRELLO</button>
                  <button class="bottone1 disabilitato" type="button" v-else>SCEGLI UNA VARIANTE</button>
                </form>
              </div>
              <consegna-prodotto
                :tempoMarca="prodotto.brand.escapeTime.label"
                :tempoProdotto="prodotto.escapeTime.label"
                :spedGratis="prodotto.variants[variantePrezzo()].freeShipping"
              ></consegna-prodotto>
            </div>

            <hr />

            <servizi-prodotto :prezzo="prodotto.variants[variantePrezzo()].finalAmount"></servizi-prodotto>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <ul class="tab1 mb-20">
              <li class="active">
                <a href="#descrizione" data-toggle="tab">descrizione</a>
              </li>
              <li>
                <a href="#pagamenti" data-toggle="tab">pagamenti</a>
              </li>
              <li>
                <a href="#spedizione" data-toggle="tab">spedizione</a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="descrizione">
                <tabella-varianti-prodotto
                  :varianti="prodotto.variants"
                  :variante="variantePrezzo()"
                ></tabella-varianti-prodotto>
                <div v-html="prodotto.description">Loading...</div>
              </div>

              <tab-pagamenti-prodotto></tab-pagamenti-prodotto>

              <tab-spedizione-prodotto></tab-spedizione-prodotto>
            </div>
          </div>
        </div>

        <hr class="grosso" />

        <correlati-prodotto></correlati-prodotto>
      </div>
    </div>
  </div>
</template>

<script>
import GalleriaProdotto from "./GalleriaProdotto.vue";
import SelectVariantiProdotto from "./SelectVariantiProdotto.vue";
import SelectTendineProdotto from "./SelectTendineProdotto.vue";
import PrezziProdotto from "./PrezziProdotto.vue";
import MarcaProdotto from "./MarcaProdotto.vue";
import RatingProdotto from "./RatingProdotto.vue";
import ConsegnaProdotto from "./ConsegnaProdotto.vue";
import ServiziProdotto from "./ServiziProdotto.vue";
import TabellaVariantiProdotto from "./TabellaVariantiProdotto.vue";
import TabPagamentiProdotto from "./TabPagamentiProdotto.vue";
import TabSpedizioneProdotto from "./TabSpedizioneProdotto.vue";
import CorrelatiProdotto from "./CorrelatiProdotto.vue";

import axios from "axios";
import { EventBus } from "@/event-bus.js";

export default {
  name: "ContenutoProdotto",

  props: {
    selezionata: Number
  },

  data() {
    return {
      prodotto: "",
      variante: "",
      idProd: "",

      acquistabile: false
    };
  },

  components: {
    GalleriaProdotto,
    SelectVariantiProdotto,
    PrezziProdotto,
    SelectTendineProdotto,
    MarcaProdotto,
    RatingProdotto,
    ConsegnaProdotto,
    ServiziProdotto,
    TabellaVariantiProdotto,
    TabPagamentiProdotto,
    TabSpedizioneProdotto,
    CorrelatiProdotto
  },

  methods: {
    variantePrezzo() {
      //indico quale prezzo considerare, in base alla variante selezionata
      let miaVar;
      this.variante ? (miaVar = this.variante) : (miaVar = 0);
      return miaVar;
    },

    aggiungiCarrello() {
      alert("Prodotto aggiunto al carrello correttamente!");
    }
  },

  created() {
    this.idProd = this.$route.params.id;

    axios
      //.get("_api/prodotto" + this.idProd + ".json")
      .get("_api/prodotto321.json")
      .then(response => {
        this.prodotto = response.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  },

  mounted() {
    EventBus.$on("mostraTendine", data => {
      //alla scelta di una variante dalla tendina
      this.variante = data;
      this.acquistabile = true;
    });
  }
};
</script>
