<template>
  <div id="prodotti-correlati">
    <div class="row">
      <div class="col-md-12">
        <div class="text-left mb-40">
          <h2 class="titolo1">PRODOTTI CORRELATI</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="active-related-product">
        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/neet01000-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">
                  Bareback in neoprene e air mesh traspirante e imbottitura in ovatta,
                  completo di sottopancia
                </a>
              </h6>

              <h3 class="pro-price">€1234,56</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CorrelatiProdotto"
};
</script>