<template>
  <div class="imgs-zoom-area">
    <img
      id="zoom_03"
      :src="'https://storage.cloud.google.com/hp-admin-upload/uploads/product_'+codice+'-c0.jpg'"
      :data-zoom-image="'https://storage.cloud.google.com/hp-admin-upload/uploads/product_'+codice+'-c0.jpg'"
      alt
    />

    <div class="row" style="display: none">
      <div class="col-xs-12">
        <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
          <div class="p-c">
            <a
              href="#"
              data-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c1.jpg"
              data-zoom-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c1.jpg"
            >
              <img class="zoom_03" src="https://www.nonsolocavallo.it/foto/thumb/neing1-c1.jpg" alt />
            </a>
          </div>

          <div class="p-c">
            <a
              href="#"
              data-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c2.jpg"
              data-zoom-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c2.jpg"
            >
              <img class="zoom_03" src="https://www.nonsolocavallo.it/foto/thumb/neing1-c2.jpg" alt />
            </a>
          </div>

          <div class="p-c">
            <a
              href="#"
              data-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c3.jpg"
              data-zoom-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c3.jpg"
            >
              <img class="zoom_03" src="https://www.nonsolocavallo.it/foto/thumb/neing1-c3.jpg" alt />
            </a>
          </div>

          <div class="p-c">
            <a
              href="#"
              data-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c4.jpg"
              data-zoom-image="https://www.nonsolocavallo.it/foto/mobile/neing1-c4.jpg"
            >
              <img class="zoom_03" src="https://www.nonsolocavallo.it/foto/thumb/neing1-c4.jpg" alt />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GalleriaProdotto",

  props: {
    codice: String
  }
};
</script>