<template>
  <div class="col-md-8">
    <div class="row" id="marca">
      <div class="col-xs-4">
        <img
          :src="'https://storage.cloud.google.com/hp-admin-upload/uploads/190x225/brand_'+string_to_slug(marca)+'-c0.jpg'"
          :alt="marca"
          width="100"
        />
      </div>
      <div class="col-xs-8">
        Marca:
        <strong>{{marca}}</strong> - 100% originale
        <br />Codice articolo:
        <strong id="prd_art">{{codice}}</strong>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MarcaProdotto",

  props: {
    marca: String,
    codice: String
  },

  methods: {
    string_to_slug(str) {
      str = str.replace(/^\s+|\s+$/g, ""); //trim
      str = str.toLowerCase();

      //rimuovo accenti e caratteri speciali
      var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
      var to = "aaaaeeeeiiiioooouuuunc------";
      for (var i = 0, l = from.length; i < l; i++) {
        str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
      }

      str = str
        .replace(/[^a-z0-9 -]/g, "") //rimuovo caratteri non alfanumerici
        .replace(/\s+/g, "-") //sostituisco gli spazi con -
        .replace(/-+/g, "-"); //rimuovo i - multipli

      return str;
    }
  }
};
</script>