<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="menu-nav">
          <a href="#/prodotti/321/test" class="f-left">&laquo; torna indietro</a>
          <div class="f-right">
            <a href="#" class="mr-10">&lt; precedente</a>
            <a href="#">successivo &gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavigazioneProdotto"
};
</script>