<template>
  <div>
    <div class="row" id="prezzi">
      <div class="col-sm-12">
        <span class="prezzo">€ {{variante.finalAmount}}</span> IVA inclusa
        <span v-show="variante.discount > 0">
          <br />
          <span class="sconto">{{variante.discount}}% in meno</span>
          <span class="vecchio">€ {{variante.amount}}</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PrezziProdotto",

  props: {
    variante: Object //variante selezionata dalla tendina varianti
  }
};
</script>