<template>
  <div class="row mb-15" v-if="varianti.length > 1">
    <div class="col-sm-2">
      <label class="label1">VARIANTE:</label>
    </div>
    <div class="col-sm-10">
      <select class="select1" v-model="selezionata" @change="emitSelezionaVariante(selezionata)">
        <option>Seleziona una variante</option>
        <option
          v-for="(variante, id) in varianti"
          :value="id"
          :key="id"
        >{{variante.code + ' -> ' + variante.name}}</option>
      </select>
    </div>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus.js";

export default {
  name: "SelectVariantiProdotto",

  props: {
    varianti: Array //varianti del prodotto recuperate dall'API
  },

  data() {
    return {
      selezionata: ""
    };
  },

  methods: {
    emitSelezionaVariante(selezionata) {
      EventBus.$emit("mostraTendine", selezionata); //emetto nel bus la variante selezionata dalla mia tendina varianti
    }
  }
};
</script>
