<template>
  <div v-if="variante.classOfGoods.length > 0">
    <div class="row" v-for="(tendina, x) in variante.classOfGoods" :key="x">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2">
            <label class="label1">{{variante.classOfGoods[x].label + ":"}}</label>
          </div>
          <div class="col-sm-10">
            <select class="select1">
              <option>seleziona</option>
              <option
                :value="valore.id"
                v-for="(valore, y) in variante.classOfGoods[x].features"
                :key="y"
              >{{valore.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus.js";

export default {
  nome: "SelectTendineProdotto",

  props: {
    variante: Number //variante selezionata dalla tendina varianti
  },

  mounted() {
    EventBus.$on("mostraTendine", data => {
      this.variante = data;
    });
  }
};
</script>
