<template>
  <div class="row" id="servizi">
    <div class="col-lg-5">
      <a href="#" title="Wishlist" tabindex="0">
        <i class="zmdi zmdi-favorite zmdi-hc-border-circle"></i>
      </a>
      Aggiungi alla
      <strong>lista dei desideri</strong>
    </div>
    <div class="col-lg-3">
      <i class="zmdi zmdi-star zmdi-hc-border-circle"></i> Vale:
      <strong>{{prezzo / 10}} punti</strong>
    </div>
    <div class="col-lg-4">
      <i class="zmdi zmdi-mail-reply zmdi-hc-border-circle"></i> Possibilità di sostituzione
    </div>
  </div>
</template>

<script>
export default {
  name: "ServiziProdotto",
  props: {
    prezzo: Number
  }
};
</script>