<template>
  <div v-if="varianti.length > 1">
    <p class="mb-0">
      <strong class="nero">
        Scegli la variante che desideri acquistare dalla tendina
        presente in alto alla scheda: {{variante}}
      </strong>
    </p>
    <div class="row">
      <div class="col-sm-8">
        <table cellpadding="0" cellspacing="0" class="tabella1 mb-30">
          <thead>
            <tr>
              <th>ARTICOLO</th>
              <th>VARIANTE/FORMATO DI VENDITA</th>
              <th>PREZZO iva inc.</th>
            </tr>
          </thead>
          <tr
            v-for="(miaVar, id) in varianti"
            :key="id"
            :class="{selezionata: mostraClasse(id, variante)}"
          >
            <td>{{miaVar.code}}</td>
            <td>{{miaVar.name}}</td>
            <td>€ {{miaVar.finalAmount}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VariantiProdotto",

  props: {
    varianti: Array, //varianti del prodotto recuperate dall'API
    variante: Number //variante selezionata dalla tendina varianti
  },

  methods: {
    mostraClasse(a, b) {
      let miaVerifica = false;
      a === b ? (miaVerifica = true) : (miaVerifica = false);
      return miaVerifica;
    }
  }
};
</script>
