/*--------------------------------------------------------------

  Template Name: Subas Ecommerce Responsive Bootstrap Template
  Description: This is html5 template
  Author: codecarnival
  Version: 1.0
  Design and Developed by: codecarnival

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/


.breadcrumb {font-size: 12px; padding-top: 0; padding-bottom: 0}
.breadcrumb > li + li::before {color: #666; content: "\003e\00a0"}
  .breadcrumb > li + li.f-right::before {content: ""}


body.prodotto h1 {margin-bottom: 0}
body.prodotto hr {margin: 20px 0}
body.prodotto .single_add_to_cart_button {background: #060}