<!DOCTYPE HTML>
<html class="no-js" lang="it">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Prodotti || Horsepet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.png">
  <link rel="stylesheet" href="<%= BASE_URL %>css/bootstrap.min.css">
  <link rel="stylesheet" href="<%= BASE_URL %>lib/css/nivo-slider.css">
  <link rel="stylesheet" href="<%= BASE_URL %>_css/core.css">
  <link rel="stylesheet" href="<%= BASE_URL %>_css/default.css">
  <link rel="stylesheet" href="<%= BASE_URL %>_css/responsive.css">
  <link rel="stylesheet" href="<%= BASE_URL %>_css/responsive2.css">

  <script src="<%= BASE_URL %>js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  <div id="app"></div>

  <script src="<%= BASE_URL %>js/vendor/jquery-3.1.1.min.js"></script>
  <script src="<%= BASE_URL %>js/bootstrap.min.js"></script>
  <script src="<%= BASE_URL %>lib/js/jquery.nivo.slider.js"></script>
  <script src="<%= BASE_URL %>js/plugins.js"></script>
  <script src="<%= BASE_URL %>js/main.js"></script>
</body>

</html>