/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Template: Horsepet
  Descrizione: template HTML5 del nuovo e-commerce di Sudio Origgi srl
  Autore: Codecarnival / Andrea Bizioli
  Author URI: http://www.codecarnival.net / http://www.studiooriggi.it
  Versione: 1.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



  /* ===================================================================================================
    INDICE:

    1) Elementi HTML & Google Fonts
    2) Testata (header)
    3) Corpo pagina
      3.1) Risultante di categoria (prodotti comuni)
      3.2) Risultante di categoria (prodotti di alimentazione per animali)
      3.3) Scheda prodotto
      3.4) Carrello & checkout
    4) Piè di pagina (footer)
    5) Classi & Id (globali)
  =================================================================================================== */



  /* ==================================================================
    1) Elementi HTML & Google Fonts
  ================================================================== */

  @import 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Roboto:400,500,700';


  body {background: #FFF; font-family: "Raleway", sans-serif; color: #666; font-size: 14px; font-style: normal; font-weight: normal; line-height: 24px}

  a {-webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -ms-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s}
  a:focus {outline: none; text-decoration: none}
  a:focus, a:hover {color: #FF7F00; text-decoration: none}
  a, button, input {color: #000; outline: medium none}

  button {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; font-family: "Raleway", sans-serif}

  hr {border-top: 0 none; border-bottom: 1px solid #EEE; margin: 15px 0; padding: 0}

  h1, h2, h3, h4, h5, h6 {color: #000; font-family: "Raleway", sans-serif; font-style: normal; font-weight: 500; margin-top: 0px}
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: inherit}
  h1 {font-size: 25px}
  h2 {font-size: 22px}
  h3 {font-size: 20px}
  h4 {font-size: 18px}
  h5 {font-size: 16px}
  h6 {font-size: 14px}

  input[type="text"], input[type="password"], input[type="email"] {background: #FFF none repeat scroll 0 0; border: 1px solid transparent; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); color: #666; font-size: 13px; height: 40px; margin-bottom: 20px; padding-left: 20px; width: 100%}

  label {color: #666; font-size: 14px; font-weight: 400}

  ul {margin: 0px; padding: 0px}
  li {list-style: none}

  option {background: #FFF none repeat scroll 0 0; border: 0 solid #626262; font-size: 13px; padding-left: 10px}

  p {color: #333; font-size: 13px; font-weight: normal; line-height: 20px; margin-bottom: 15px}

  select {border: 1px solid #EEE; color: #666; font-size: 13px; height: 30px; padding-left: 20px}

  textarea {background: #FFF none repeat scroll 0 0; border: 1px solid transparent; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); font-size: 13px; padding: 10px 10px 10px 20px; resize: vertical; width: 100%}









  /* ==================================================================
    2) Testata (header)
  ================================================================== */

  /* testata mobile*/
  .call-us a {color: #FFF}



  /* menu style */
  .header-area {position: relative; z-index: 99999}
  .main-menu > li > a {color: #000; display: block; font-size: 11px; font-weight: bold; letter-spacing: .025rem; text-transform: uppercase}
  .main-menu > li > a, .single-mega-item li a {position: relative}
  .main-menu > li > a::before, .single-mega-item li a:before {background: #FFBF7F none repeat scroll 0 0; bottom: 0; content: ""; height: 1px; left: 0; opacity: 0; position: absolute; transition: all .5s ease 0s; visibility: hidden; width: 0}
  .main-menu > li:hover > a::before, .single-mega-item li:hover a:before {opacity: 1; visibility: visible; width: 100%}
  .main-menu > li {display: inline-block; margin: 0 3px; padding: 48px 0; position: relative; transition: all .3s ease 0s}
  .main-menu > li:hover > a, .single-mega-item > li:hover > a {color: #FF7F00}



  /* dropdown style */
  .mega-menu-area {background: #FFF none repeat scroll 0 0; box-shadow: 0 0 10px rgba(0, 0, 0, .12); left: -21%; padding-top: 10px; position: absolute; text-align: left; top: 100%; transform: scaleY(0); transform-origin: 0 0 0; transition: all .5s ease 0s; visibility: hidden; width: 1140px; z-index: 2}
  .mega-menu-link {width: 70%}
  .main-menu li.mega-parent {position: static}
  .single-mega-item {float: left; margin-bottom: 15px; padding: 0 15px; width: 33.3333%}
  .single-mega-item li {display: block}
  .single-mega-item li:last-child {margin-bottom: 0}
  .single-mega-item .menu-title {color: #444; font-size: 14px; font-weight: bold; text-transform: capitalize}
  .single-mega-item li:last-child {border-bottom: 0 solid #000}
  .single-mega-item li a {color: #666; display: inline-block; font-size: 13px; line-height: 14px; padding: 3px 0; text-transform: capitalize}
  .main-menu li:hover .mega-menu-area {transform: scale(1); visibility: visible}
  .header-middle-area .container .row [class*="col-"] {position: static}
  .header-middle-area .full-width-mega-dropdown {position: relative}
  .mega-menu-link-4 {width: 100%}
  .mega-menu-link-4 .single-mega-item {width: 25%}



  /* sticky menu */
  .sticky {background: rgba(255,255,255,.99); box-shadow: 0 1px 3px rgba(50, 50, 50, .4); left: 0; margin: auto; position: fixed; top: 0; width: 100%}
  .sticky .main-menu > li {padding: 22px 0}
  .sticky .main-menu > li:hover > a {color: #FF7F00}
  .logo {padding: 44px 0; transition: all .3s ease 0s}
  .logo img {transition: all .3s ease 0s}
  .sticky .logo img {transition: all .3s ease 0s; width: 100px}
  .sticky .logo {padding: 20px 0}



  /* header-top-bar */
  .header-top-bar {background: #222 none repeat scroll 0 0}
  .call-us p {color: #CCC; font-weight: 500; line-height: 40px}


  /* top-link */
  .top-link > ul.link {margin-right: -20px}
  .top-link > ul.link > li {float: left; position: relative}
  .top-link > ul.link > li::before {background: #DDD none repeat scroll 0 0; content: ""; height: 15px; left: 0; position: absolute; top: 13px; width: 1px}
  .top-link > ul.link > li:first-child::before {display: none}
  .top-link > ul.link > li a {color: #CCC; display: block; font-size: 0; height: 40px; line-height: 30px; overflow: hidden; padding: 10px 20px; text-align: center; text-transform: capitalize; white-space: nowrap; width: 50px}
  .top-link > ul.link > li a i {font-size: 14px; line-height: 10px; color: #CCC}
  .top-link > ul.link > li a:hover i {padding-right: 5px}
  .top-link > ul.link > li a:hover, .top-link > ul.link > li a:focus, .top-link > ul.link > li a:active {color: #FFF; font-size: 13px; line-height: 19px; width: auto}



  /* header-search */
  .header-search {padding: 34px 0 22px; transition: all .3s ease 0s}
  .header-search-inner {position: relative}
  .header-search-inner::before {background: #CF0000 none repeat scroll 0 0; content: ""; height: 20px; margin-top: -10px; position: absolute; right: 0; top: 50%; width: 1px}
  .header-search-inner button.search-toggle {color: #666; display: block; font-size: 20px; line-height: 1; padding: 15px 20px; text-align: center; transition: all .3s ease 0s}
  .sticky .header-search {padding: 14px 0 0}
  .sticky .header-search-inner button.search-toggle {padding: 10px 15px}
  .top-search-box {box-shadow: 0 0 10px rgba(0, 0, 0, .12); height: 60px; opacity: 0; position: absolute; right: 0; top: -5px; transition: all .3s ease 0s; visibility: hidden; width: 0}
  .sticky .top-search-box {height: 40px; top: 0}
  .top-search-box > input {background: #FFF none repeat scroll 0 0; border: medium none; float: left; height: 100%; padding: 0 10px; width: 100%}
  .top-search-box > input:focus {border: none}
  .top-search-box > button {background: #FFF none repeat scroll 0 0; border: medium none; color: #999; float: left; font-size: 20px; height: 100%; padding: 0; position: absolute; right: 0; width: 60px}
  .header-search-inner:hover button.search-toggle {opacity: 0}
  .header-search-inner:hover .top-search-box {opacity: 1; right: 20px; visibility: visible; width: 500px}
  .sticky .header-search-inner:hover .top-search-box {width: 400px}
  .top-search-box input[type="text"]:focus {border: medium none}



  /* total-cart */
  .total-cart {padding: 20px 0; transition: all .3s ease 0s}
  .sticky .total-cart {padding: 0}
  .total-cart-in {padding: 10px 0 25px; position: relative; transition: all .3s ease 0s}
  .sticky .total-cart-in {padding: 10px 0 12px}
  .cart-toggler > a {color: #666; display: block; line-height: 20px; padding-left: 20px; text-align: center}
  .total-cart-in:hover .cart-toggler > a {color: #FF7F00}
  .cart-icon {font-size: 20px; line-height: 20px}
  .total-cart-in > ul {background: #FFF none repeat scroll 0 0; box-shadow: 0 0 10px rgba(0, 0, 0, .12); opacity: 0; position: absolute; right: 0; top: 150%; transition: all .3s ease 0s; visibility: hidden; width: 350px; z-index: 9999}
  .total-cart-in > ul > li {border-bottom: 1px solid #EEE}
  .top-cart-inner {padding: 18px 30px; text-align: center}
  .top-cart-inner h5, .top-cart-inner h4 {margin: 0}
  .top-cart-inner.your-cart h5 {color: #999; font-weight: 500}
  .total-cart-pro {padding: 10px 15px 30px 30px}
  .total-cart-pro .single-cart {padding: 20px 0 0}
  .cart-img {position: relative}
  .del-icon a {bottom: 0; position: absolute; right: 0}
  .del-icon > a::before {border-right: 30px solid #F6F6F6; border-top: 30px solid transparent; bottom: 0; content: ""; position: absolute; right: 0; transition: all .3s ease 0s; z-index: 1}
  .del-icon > a:hover::before {border-right: 30px solid #DDD}
  .del-icon > a > i {color: #666; display: block; font-size: 12px; height: 15px; line-height: 15px; position: relative; text-align: center; transition: all .3s ease 0s; width: 15px; z-index: 2}
  .del-icon > a:hover > i {color: #FF7F00}
  .cart-info {padding: 10px 0 0 20px}
  .cart-info h6 {color: #666; font-weight: 500}
  .cart-info p {margin: 0}
  .cart-info p > span {display: inline-block; width: 56px}
  .cart-info span strong {float: right; padding-right: 10px}
  .top-cart-inner.subtotal > h4 {color: #666; font-weight: 700}
  .top-cart-inner.subtotal span {color: #FF7F00}
  .top-cart-inner.view-cart h4, .top-cart-inner.check-out h4 {color: #666; font-weight: 500}
  .total-cart-in:hover ul {opacity: 1; top: 100%; visibility: visible}








  /* ==================================================================
    3) Corpo pagina
  ================================================================== */

  .wrapper {background: #FFF none repeat scroll 0 0}



  /* ---------------------------------------------
    3.1) Risultante di categoria (prodotti comuni)
  --------------------------------------------- */

  /* --------- colonna sx --------- */

  .widget {padding: 20px 30px}
  .widget-title {color: #666; font-weight: 700; text-transform: uppercase}
  .widget input[type="checkbox"] {margin-right: 10px}

  .product-cat > ul > li > ul {padding-left: 20px}
  .product-cat .treeview > li > a,
  .product-cat .treeview > li > ul > li > a {color: #666; display: inline-block; text-transform: capitalize}
  .product-cat .treeview > li > a {font-size: 14px; line-height: 30px}
  .product-cat .treeview > li > ul > li > a {font-size: 13px; line-height: 25px}
  .product-cat .treeview li {position: relative}
  .product-cat .treeview .collapsable > a {color: #FF7F00}


  /* filtra per colore */
  .widget-color ul li {display: block; position: relative}
  .widget-color ul li::before {background: #FF7F00 none repeat scroll 0 0; border-radius: 50%; content: ""; height: 12px; left: 0; margin-top: -6px; position: absolute; top: 50%; width: 12px}
  .widget-color ul li a {display: inline-block; font-size: 13px; line-height: 30px; padding-left: 20px}
  .widget-color ul li.color-1:before {background: #FFA07A}
  .widget-color ul li.color-2:before {background: #E9967A}
  .widget-color ul li.color-3:before {background: #FE5858}
  .widget-color ul li.color-4:before {background: #00B2EE}
  .widget-color ul li.color-5:before {background: #00EEB3}
  .widget-color ul li.color-6:before {background: #8DC63F}


  /* filtra per prezzo */
  .price_filter {padding-bottom: 13px}
  .price_slider_amount {overflow: hidden}
  .price_slider_amount > input {background: transparent none repeat scroll 0 0; border: medium none; box-shadow: none; float: left; height: 25px; padding: 0; text-align: left; width: 50%}
  .price_slider_amount > input#amount {}
  .ui-widget-content {background: #EEE none repeat scroll 0 0; border: medium none; color: #222; height: 3px}
  .ui-slider .ui-slider-range {background: #FF7F00 none repeat scroll 0 0}
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: #FF7F00 none repeat scroll 0 0; border: medium none; border-radius: 0; height: 12px; margin-left: 0; margin-top: -6px; top: 50%; width: 5px}


  /* ultimi visti */
  .ultimi-visti .product-item {border: 1px solid #F6F6F6; margin-bottom: 30px; overflow: hidden; padding: 3px; transition: all 0.3s ease 0s}
    .ultimi-visti .product-item:last-child {margin-bottom: 0}
  .ultimi-visti .product-img {float: left; width: 35%}
  .ultimi-visti .product-info {background: #FFF none repeat scroll 0 0; float: left; padding: 0 0 0 10px; text-align: left; width: 65%}
  .ultimi-visti .product-title {color: #666; font-size: 12px; font-weight: 500}
  .ultimi-visti .pro-price {color: #999; font-size: 16px; font-weight: 500; line-height: 1; margin-bottom: 0}



  /* --------- colonna centrale --------- */

  .shop-option {padding: 10px 30px}

  .product-item {border: 1px solid #F6F6F6; margin-bottom: 30px; transition: all 0.3s ease 0s}
  .product-item:hover {box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15)}
  .product-img img {width: 100%}
  .product-info {background: #F6F6F6 none repeat scroll 0 0; padding: 10px 5px; text-align: center}
  .product-title {color: #000; font-family: "Raleway",sans-serif; font-size: 12px; line-height: 1.4; margin-bottom: 10px}
  .pro-price {color: #000; font-family: "Roboto",sans-serif; font-weight: 400; line-height: 20px; margin-bottom: 5px; z-index: 9}
    .pro-price .old {color: #666; font-size: 1rem; text-decoration: line-through}
    .sped-gratis {color: #F60; display: block; height: 20px; font-size: 12px; font-weight: 700; line-height: 1}
  .action-button {}
  .action-button > li {display: inline-block; margin-right: 10px}
  .action-button > li:last-child {margin-right: 0}
  .action-button > li > a {background: transparent; border: 1px solid #DDD; border-radius: 50%; color: #999; display: block; font-size: 14px; height: 30px; text-align: center; width: 30px}
  .action-button > li > a i {line-height: 28px}
  .action-button > li:hover > a {background: #FF7F00; border-color: #FF7F00; color: #FFF}


  .filtri-mobile {margin-bottom: 15px}
    .filtri-mobile .bottone1 {background: #666; width: 100%}



  /* ---------------------------------
    3.3) Scheda prodotto
  --------------------------------- */

  /* menu navigazione */
  .wrapProdotto .menu-nav {background: #F5F5F5; margin-bottom: 15px; overflow: hidden; padding: 0 10px}


  /* galleria prodotto */
  .imgs-zoom-area {width: 100%}
  .imgs-zoom-area img {width: 100% !important}
  #gallery_01 img {width: 100%}
  #gallery_01 {padding: 0 30px}
  .p-c {border: 1px solid #FFF; padding: 0 5px}
  .p-c a.active img {border: 1px solid #FF7F00}
  #gallery_01.slick-arrow-3 .arrow-next.slick-arrow {right: -3px}


  /* marca */
  .wrapProdotto #marca {color: #333}


  /* prezzi */
  .wrapProdotto #prezzi {color: #999; font-family: "Roboto", sans-serif; font-size: 14px}
  .wrapProdotto #prezzi .prezzo {color: #0F0000; display: inline-block; font-size: 40px; font-weight: 700; letter-spacing: -1pt; margin-right: 10px}
  .wrapProdotto #prezzi .sconto {color: #E85C1E; display: inline-block; font-size: 20px; font-weight: 700; margin-right: 10px}
  .wrapProdotto #prezzi .vecchio {color: #999; text-decoration: line-through}

  .slick-arrow-3 .slick-arrow {color: #999; font-size: 20px; height: 35px; left: 0; line-height: 35px; margin-top: -17px; position: absolute; right: auto; top: 50%; transition: all 0.3s ease 0s; width: 35px; z-index: 2}
  .slick-arrow-3 .arrow-next.slick-arrow {left: auto; right: 0px}
  .slick-arrow-3 .arrow-prev.slick-arrow:hover, .slick-arrow-3 .arrow-next.slick-arrow:hover {color: #FF7F00}


  /* aggiungi al carrello */
  .wrapProdotto #aggiungi .cart {margin-bottom: 15px}
  .wrapProdotto #aggiungi .cart .bottone1 {font-size: 18px; margin-left: 15px; width: 71%}
  .wrapProdotto #aggiungi .cart .bottone1.disabilitato {background: #CCC}
  .wrapProdotto #aggiungi .consegna {color: #333; font-size: 13px; line-height: 16px; overflow: hidden}
    .wrapProdotto #aggiungi .consegna .zmdi {font-size: 30px; margin: 0 40px 5px 25px}
    .wrapProdotto #aggiungi .consegna .zmdi-hc-border-circle {border-width: 0.05em}


  /* servizi */
  .wrapProdotto #servizi {color: #333; font-size: 12px; margin-top: 10px}
    .wrapProdotto #servizi .zmdi {font-size: 14px}


  /* tab */
  .tab-content, .tab-content p {font-size: 14px}
  .tab1 li {display: inline-block; margin-right: 20px}
  .tab1 li:last-child {margin-right: 0}
  .tab1 li a {border-bottom: 4px solid #DFDFDF; display: block; font-size: 16px; font-weight: 600; line-height: 20px; text-transform: uppercase}
  .tab1 li.active a {border-bottom: 4px solid #F60}
  #descrizione .tabella1 th {background: none}
  #descrizione .tabella1 th, #descrizione .tabella1 td {padding: 0 3px}
  #descrizione .tabella1 th {padding: 0 3px}


  /* prodotti correlati */
  #prodotti-correlati h2 {font-weight: 700; line-height: 24px}
  #prodotti-correlati .correlato {border: 1px solid #F6F6F6; margin-bottom: 30px; transition: all 0.3s ease 0s}
  .correlato img {width: 100%}
  .correlato .info {background: #F6F6F6 none repeat scroll 0 0; padding: 5px; text-align: center}
  .correlato .info .titolo {color: #434343; font-family: "Raleway",sans-serif; font-size: 12px; margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis}
  .correlato .info .prezzo {font-weight: bold}



  /* -----------------------
    3.4) Carrello & checkout
  ----------------------- */

  /* tab */
  .cart-tab li {display: block; margin-bottom: 100px; position: relative; text-align: center}
  .cart-tab li::before {background: #DDD none repeat scroll 0 0; content: ""; height: 40px; left: 0; margin: auto; position: absolute; right: 0; top: 130%; width: 2px}
  .cart-tab li:last-child {margin-bottom: 0}
  .cart-tab li:last-child::before {display: none}
  .cart-tab li a {color: #999; display: block; font-size: 13px; font-weight: 600; text-transform: uppercase}
  .cart-tab li a span {border-radius: 50%; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); display: block; font-family: "Roboto", sans-serif; font-size: 20px; font-weight: 500; height: 50px; line-height: 50px; margin: auto auto 20px; text-align: center; width: 50px}
  .cart-tab li a.active {color: #FF7F00}
  .cart-tab li a.active span {box-shadow: 0 0 4px rgba(255, 127, 0, 0.1); border: 1px solid #FF7F00}


  /* carrello*/
  .table-content table, .table-content table th, .table-content table td {border: 1px solid #EEE; border-collapse: collapse}
  table {width: 100%}
  .table-content table thead th {color: #666; font-family: raleway; font-size: 13px; font-weight: 600; line-height: 1; padding: 5px 0; text-align: center; text-transform: uppercase}
  .table-content table thead th.product-quantity {width: 2%}
  .table-content table tr td {color: #999; padding: 10px 15px}
  .table-content table tr td.product-subtotal {color: #333}
  .table-content p {font-size: 12px; line-height: 1.2}
  .product-thumbnail {font-family: Roboto !important; width: 420px}
  .product-thumbnail h6 {font-family: Roboto; font-weight: 500}
  .pro-thumbnail-img {float: left; width: 28%}
  .pro-thumbnail-img img {width: 100%}
  .pro-thumbnail-info {float: left; padding-left: 20px; width: 72%}
  .prods-carrello .titolo {color: #333; font-weight: 500}
  .pro-thumbnail-info > p {margin-bottom: 0}
  .product-price, .product-subtotal {font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 700}
  .product-remove a {color: #999; display: block; font-size: 18px; height: 20px; line-height: 20px; margin: 0 auto; transition: all 0.3s ease 0s; width: 20px}
    .product-remove a:hover {color: #FF7F00}
  .product-stock {font-weight: 600; text-transform: uppercase}
  .product-add-cart a {color: #999; font-size: 25px}
  .product-add-cart a:hover {color: #FF7F00}



  /* subtotale ordine */
  .payment-details tr {border-bottom: 1px solid #EEE}
  .payment-details tr:last-child {border-bottom: 0 none}
  .payment-details td {padding: 5px 0}
  .payment-details .td1, .payment-details .td1 label {font-size: 13px; line-height: 1.2; text-align: left}
  .payment-details .td1 input {border-color: #999}
  .payment-details .td2 {color: #666; font-family: "Roboto", sans-serif; font-weight: 500; text-align: right}
  .order-total {color: #FF7F00; font-weight: 500; text-align: left}
  .order-total-price, .order-total-price2 {color: #FF7F00; font-family: "Roboto", sans-serif; font-weight: 700}
  .order-total-price {text-align: right}



  /* modalità pagamento */
  .payment-method .panel {border: medium none; border-radius: 0; box-shadow: none; margin-bottom: 0; padding-bottom: 20px}
  .payment-content {padding: 20px 20px 0}
  .payment-method .panel:last-child {padding-bottom: 0}
  .payment-title {color: #666; font-size: 13px; font-weight: 500; height: 40px; line-height: 40px; margin-bottom: 0; padding-left: 20px; text-transform: uppercase}
  .payment-content > p {margin-bottom: 5px}
  .payent-type li {display: inline-block; margin-right: 10px}
  .payent-type li:last-child {margin-right: 0}
  .payent-type li a {border: 1px solid #E5E5E5; padding: 5px; display: block}









  /* ==================================================================
    4) Piè di pagina (footer)
  ================================================================== */

  .footer-top-inner {padding: 30px 15px}
  .footer-about {padding-right: 0}
  .footer-logo {margin-bottom: 35px}
  .footer-brief {margin-bottom: 33px}
  .footer-social li {display: inline-block}
  .footer-social li + li {margin-left: 10px}
  .footer-social li a {border: 1px solid rgb(153, 153, 153); border-radius: 50%; color: #999; display: block; height: 30px; text-align: center; width: 30px}
  .footer-social li a i {line-height: 28px}
  .footer-social li a:hover {border-color: transparent; color: #FFF}
  .facebook:hover {background: #3B5998}
  .google-plus:hover {background: #DD493D}
  .twitter:hover {background: #1DA1F2}
  .rss:hover {background: #F36F24}
  .pinterest:hover {background: #CB2027 none repeat scroll 0 0}
  .footer-title {font-weight: 700; margin: 10px 0 30px; text-transform: uppercase}
  .footer-menu > li {display: block}
  .footer-menu li a {color: #666; display: inline-block; line-height: 30px}
  .footer-menu li a i {color: #999; font-size: 5px; margin-right: 10px; position: relative; top: -3px}
  .footer-menu li a span {font-size: 13px; font-weight: 500}
  .footer-menu li:hover a,.footer-menu li:hover a i {color: #FF7F00}
  .border-left {padding-left: 10px; position: relative}
  .border-left::before {background: #FF7F00 none repeat scroll 0 0; content: ""; height: 12px; left: 0; margin-top: -6px; position: absolute; top: 50%; width: 2px}


  /* footer-message */
  .footer-message input[type="text"] {box-shadow: none; margin-bottom: 10px}
  .footer-message textarea {box-shadow: none}

  /* copyright */
  .copyright {padding: 0 100px}
  .copyright-text {padding: 14px 0}
  .copyright-text p {line-height: 1; margin: 0}
  .copyright-text p a {color: #999}
  .copyright-text p a:hover {color: #FF7F00}
  .footer-payment {line-height: 1; padding: 12px 0}
  .footer-payment li {display: inline-block; margin-left: 6px}
  .footer-payment li a {display: block; line-height: 1}









  /* ==================================================================
    5) Classi & Id (globali)
  ================================================================== */

  .arancione {color: #F60}
  .blu {color: #30F}
  .f-left {float: left}
  .f-right {float: right}
  .fix {overflow: hidden}
  .height-80 {height: 80px}
  hr.grosso {border-bottom-width: 5px; margin: 50px 0}
  .img {max-width: 100%; transition: all 0.3s ease-out 0s}
  .nero {color: #000}
  .panel {border-radius: 0}
  .verde {color: #060}



  /* colori di sfondo / ombre */
  .black-bg {background: #222}
  .box-shadow {box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)}
  .gray-bg {background: #F6F6F6}



  /* --------- margin & padding --------- */

  /* margin-top */
  .mt-0 {margin-top: 0}
  .mt-10 {margin-top: 10px}
  .mt-15 {margin-top: 15px}
  .mt-20 {margin-top: 20px}
  .mt-30 {margin-top: 30px}
  .mt-35 {margin-top: 35px}
  .mt-40 {margin-top: 40px}
  .mt-50 {margin-top: 50px}
  .mt-60 {margin-top: 60px}
  .mt-70 {margin-top: 70px}
  .mt-80 {margin-top: 80px}
  .mt-90 {margin-top: 90px}
  .mt-100 {margin-top: 100px}
  .mt-110 {margin-top: 110px}
  .mt-120 {margin-top: 120px}
  .mt-130 {margin-top: 130px}
  .mt-140 {margin-top: 140px}
  .mt-150 {margin-top: 150px}

  /* margin right */
  .mr-0 {margin-right: 0px}
  .mr-10 {margin-right: 10px}
  .mr-15 {margin-right: 15px}
  .mr-20 {margin-right: 20px}
  .mr-30 {margin-right: 30px}
  .mr-40 {margin-right: 40px}
  .mr-50 {margin-right: 50px}
  .mr-60 {margin-right: 60px}
  .mr-70 {margin-right: 70px}
  .mr-80 {margin-right: 80px}
  .mr-90 {margin-right: 90px}
  .mr-100 {margin-right: 100px}
  .mr-110 {margin-right: 110px}
  .mr-120 {margin-right: 120px}
  .mr-130 {margin-right: 130px}
  .mr-140 {margin-right: 140px}
  .mr-150 {margin-right: 150px}

  /* margin bottom*/
  .mb-0 {margin-bottom: 0}
  .mb-5 {margin-bottom: 5px}
  .mb-10 {margin-bottom: 10px}
  .mb-15 {margin-bottom: 15px}
  .mb-20 {margin-bottom: 20px}
  .mb-25 {margin-bottom: 25px}
  .mb-30 {margin-bottom: 30px}
  .mb-35 {margin-bottom: 35px}
  .mb-40 {margin-bottom: 40px}
  .mb-50 {margin-bottom: 50px}
  .mb-60 {margin-bottom: 60px}
  .mb-70 {margin-bottom: 70px}
  .mb-80 {margin-bottom: 80px}
  .mb-90 {margin-bottom: 90px}
  .mb-100 {margin-bottom: 100px}
  .mb-110 {margin-bottom: 110px}
  .mb-120 {margin-bottom: 120px}
  .mb-130 {margin-bottom: 130px}
  .mb-140 {margin-bottom: 140px}
  .mb-150 {margin-bottom: 150px}

  /* margin left */
  .ml-0 {margin-left: 0}
  .ml-10 {margin-left: 10px}
  .ml-15 {margin-left: 15px}
  .ml-20 {margin-left: 20px}
  .ml-30 {margin-left: 30px}
  .ml-40 {margin-left: 40px}
  .ml-50 {margin-left: 50px}
  .ml-60 {margin-left: 60px}
  .ml-70 {margin-left: 70px}
  .ml-80 {margin-left: 80px}
  .ml-90 {margin-left: 90px}
  .ml-100 {margin-left: 100px}
  .ml-110 {margin-left: 110px}
  .ml-120 {margin-left: 120px}
  .ml-130 {margin-left: 130px}
  .ml-140 {margin-left: 140px}
  .ml-150 {margin-left: 150px}

  /* padding top */
  .pt-0 {padding-top: 0}
  .pt-10 {padding-top: 10px}
  .pt-15 {padding-top: 15px}
  .pt-20 {padding-top: 20px}
  .pt-30 {padding-top: 30px}
  .pt-40 {padding-top: 40px}
  .pt-50 {padding-top: 50px}
  .pt-55 {padding-top: 55px}
  .pt-60 {padding-top: 60px}
  .pt-70 {padding-top: 70px}
  .pt-80 {padding-top: 80px}
  .pt-90 {padding-top: 90px}
  .pt-100 {padding-top: 100px}
  .pt-110 {padding-top: 110px}
  .pt-120 {padding-top: 120px}
  .pt-130 {padding-top: 130px}
  .pt-140 {padding-top: 140px}
  .pt-150 {padding-top: 150px}
  .pt-160 {padding-top: 160px}

  /* padding right */
  .pr-0 {padding-right: 0}
  .pr-10 {padding-right: 10px}
  .pr-15 {padding-right: 15px}
  .pr-20 {padding-right: 20px}
  .pr-30 {padding-right: 30px}
  .pr-40 {padding-right: 40px}
  .pr-50 {padding-right: 50px}
  .pr-60 {padding-right: 60px}
  .pr-70 {padding-right: 70px}
  .pr-80 {padding-right: 80px}
  .pr-90 {padding-right: 90px}
  .pr-100 {padding-right: 100px}
  .pr-110 {padding-right: 110px}
  .pr-120 {padding-right: 120px}
  .pr-130 {padding-right: 130px}
  .pr-140 {padding-right: 140px}

  /* padding bottom */
  .pb-0 {padding-bottom: 0}
  .pb-10 {padding-bottom: 10px}
  .pb-15 {padding-bottom: 15px}
  .pb-20 {padding-bottom: 20px}
  .pb-25 {padding-bottom: 25px}
  .pb-30 {padding-bottom: 30px}
  .pb-40 {padding-bottom: 40px}
  .pb-50 {padding-bottom: 50px}
  .pb-55 {padding-bottom: 55px}
  .pb-60 {padding-bottom: 60px}
  .pb-70 {padding-bottom: 70px}
  .pb-80 {padding-bottom: 80px}
  .pb-90 {padding-bottom: 90px}
  .pb-100 {padding-bottom: 100px}
  .pb-110 {padding-bottom: 110px}
  .pb-120 {padding-bottom: 120px}
  .pb-130 {padding-bottom: 130px}
  .pb-140 {padding-bottom: 140px}
  .pb-150 {padding-bottom: 150px}
  .pb-160 {padding-bottom: 160px}

  /* padding left */
  .pl-0 {padding-left: 0}
  .pl-10 {padding-left: 10px}
  .pl-15 {padding-left: 15px}
  .pl-20 {padding-left: 20px}
  .pl-30 {padding-left: 30px}
  .pl-40 {padding-left: 40px}
  .pl-50 {padding-left: 50px}
  .pl-60 {padding-left: 60px}
  .pl-70 {padding-left: 70px}
  .pl-80 {padding-left: 80px}
  .pl-90 {padding-left: 90px}
  .pl-100 {padding-left: 100px}
  .pl-110 {padding-left: 110px}
  .pl-120 {padding-left: 120px}
  .pl-130 {padding-left: 130px}
  .pl-140 {padding-left: 140px}
  .pl-150 {padding-left: 150px}

  /* padding round */
  .ptb-0 {padding: 0}
  .ptb-10 {padding: 10px 0}
  .ptb-20 {padding: 20px 0}
  .ptb-30 {padding: 30px 0}
  .ptb-40 {padding: 40px 0}
  .ptb-50 {padding: 50px 0}
  .ptb-60 {padding: 60px 0}
  .ptb-70 {padding: 70px 0}
  .ptb-80 {padding: 80px 0}
  .ptb-90 {padding: 90px 0}
  .ptb-100 {padding: 100px 0}
  .ptb-110 {padding: 110px 0}
  .ptb-120 {padding: 120px 0}
  .ptb-130 {padding: 130px 0}
  .ptb-140 {padding: 140px 0}
  .ptb-150 {padding: 150px 0}
  .ptb-160 {padding: 160px 0}

  /* margin round */
  .mtb-0 {margin: 0}
  .mtb-10 {margin: 10px 0}
  .mtb-15 {margin: 15px 0}
  .mtb-20 {margin: 20px 0}
  .mtb-30 {margin: 30px 0}
  .mtb-35 {margin: 35px 0}
  .mtb-40 {margin: 40px 0}
  .mtb-50 {margin: 50px 0}
  .mtb-60 {margin: 60px 0}
  .mtb-70 {margin: 70px 0}
  .mtb-80 {margin: 80px 0}
  .mtb-90 {margin: 90px 0}
  .mtb-100 {margin: 100px 0}
  .mtb-110 {margin: 110px 0}
  .mtb-120 {margin: 120px 0}
  .mtb-130 {margin: 130px 0}
  .mtb-140 {margin: 140px 0}
  .mtb-150 {margin: 150px 0}
  .mtb-160 {margin: 160px 0}


  .plr-185 {padding: 0 185px}
  .plr-200 {padding-left: 200px; padding-right: 200px}
  .ptblr-10-30 {padding: 10px 30px}
  .ptblr-20-30 {padding: 20px 30px}
  .p-20 {padding: 20px}
  .p-30 {padding: 30px}
  .mt--50 {margin-top: -50px}



  /* breadcrumb */
  .breadcrumb {font-size: 12px; padding-top: 0; padding-bottom: 0}
  .breadcrumb > li + li::before {color: #666; content: "\003e\00a0"}
    .breadcrumb > li + li.f-right::before {content: ""}


  /* stelline voti */
  .pro-rating {line-height: 1; margin: 15px 0 10px}
  .pro-rating a {color: #FFA99F; font-size: 14px}
  .pro-rating span.voti {color: #666; font-size: 13px}


  /* tabelle */
  .tabella1 th, .tabella1 td {border: 1px solid #DBDBDB; color: #333; font-size: 12px; padding: 2px 10px}
  .tabella1 th {background: #DBDBDB}
  .tabella1 td {background: #FFF}
  .tabella1 tr.selezionata td {background: #060; color: #FFF}



  /* --------- elementi form --------- */

  /* bottoni */
  .bottone1, .bottone2 {background: #060 none repeat scroll 0 0; border: medium none; border-radius: 3px; color: #FFF; font-weight: 700; height: 45px;padding: 0 15px; transition: all 0.3s ease 0s}
  .bottone1.largo, .bottone2.largo {width: 100%}
  .bottone1:hover, .bottone2:hover {background: #FF7F00 none repeat scroll 0 0}
  .bottone2 {background: #F60}
  .bottone2:hover {background: #666}


  /* quantita */
  .cart-plus-minus {border: 1px solid #CCC; font-size: 30px; height: 46px; text-align: center; width: 90px; color: #666}
  .qtybutton {background: #CCC none repeat scroll 0 0; height: 100%; width: 30%}
  .dec.qtybutton, .inc.qtybutton {cursor: pointer}
  .dec.qtybutton {float: left; line-height: 1.4}
  .inc.qtybutton {float: right; line-height: 1.5}
  input.cart-plus-minus-box {background: transparent none repeat scroll 0 0; box-shadow: none; font-family: "Roboto", sans-serif; height: 100%; margin-bottom: 0; padding: 0; text-align: center; width: 40%}


  /* input */
  .input1 {border: 1px solid #E5E5E5; float: left; height: 45px; text-align: center; width: 100px}


  /* select */
  .label1 {margin: 8px 0}
  .select1 {-moz-appearance: none; -webkit-appearance: none; appearance: none}
  .select1 {background: rgba(0, 0, 0, 0) url(../_img/down-arrow.png) no-repeat scroll 97% center; border: medium none; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); height: 40px; margin-bottom: 20px; width: 100%}
  .select1 option {font-size: 13px; padding: 2px 0 0 20px}


  /*custom-select*/
  .custom-select {-moz-appearance: none; -webkit-appearance: none; appearance: none}
  .custom-select {background: rgba(0, 0, 0, 0) url(../_img/down-arrow.png) no-repeat scroll 97% center; border: medium none; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); height: 40px; margin-bottom: 20px; width: 100%}
  .custom-select option {font-size: 13px; padding: 2px 0 0 20px}


  .custom-textarea {height: 110px}



  /* finestra modale */
  .modal {z-index: 999999999}
  .modal-header .close {font-size: 50px; line-height: 0; margin-top: 0}
  .modal input {margin-right: 10px}




  /* paginazione */
  .paginazione {padding: 10px}
  .paginazione > li {display: inline-block; margin-right: 3px}
  .paginazione > li:last-child {margin-right: 0}
  .paginazione > li > a {border: 1px solid #EEE; color: #999; display: block; font-family: "Roboto", sans-serif; font-size: 13px; font-weight: 400;
    height: 30px; line-height: 28px; text-align: center; width: 30px}
  .paginazione > li > a i {line-height: 28px}
  .paginazione > li.active a,
  .paginazione > li:hover a {border-color: #FF7F00; color: #FF7F00}