/* Small only */
@media screen and (max-width: 39.9375em) {
  body.prodotto h1 {font-size: 20px}
  body.prodotto #marca {margin-bottom: 15px}
  body.prodotto #aggiungi .cart .bottone1 {margin-left: 0; width: 100%}
}


/* Medium and up
@media screen and (min-width: 40em) {
} */


/* Medium only
@media screen and (min-width: 40em) and (max-width: 63.9375em) {} */


/* Large and up
@media screen and (min-width: 64em) {
} */


/* Large only
@media screen and (min-width: 64em) and (max-width: 74.9375em) {} */