<template>
  <div class="wrapProdotto">
    <div class="wrapper">
      <header-sito></header-sito>
      <header-mobile-sito></header-mobile-sito>

      <banner-sito></banner-sito>

      <contenuto-carrello></contenuto-carrello>

      <footer-sito></footer-sito>
    </div>
  </div>
</template>

<script>
import HeaderSito from "@/components/HeaderSito.vue";
import HeaderMobileSito from "@/components/HeaderMobileSito.vue";
import BannerSito from "@/components/BannerSito.vue";
import ContenutoCarrello from "@/components/carrello/ContenutoCarrello.vue";
import FooterSito from "@/components/FooterSito.vue";

export default {
  name: "prodotto",
  components: {
    HeaderSito,
    HeaderMobileSito,
    BannerSito,
    ContenutoCarrello,
    FooterSito
  }
};
</script>