<template>
  <div class="prodotto">
    <div class="wrapper">
      <header-sito></header-sito>
      <header-mobile-sito></header-mobile-sito>

      <banner-sito></banner-sito>

      <breadcrumb-sito></breadcrumb-sito>

      <contenuto-categoria></contenuto-categoria>

      <footer-sito></footer-sito>
    </div>
  </div>
</template>

<script>
import HeaderSito from "@/components/HeaderSito.vue";
import HeaderMobileSito from "@/components/HeaderMobileSito.vue";
import BannerSito from "@/components/BannerSito.vue";
import BreadcrumbSito from "@/components/BreadcrumbSito.vue";
import ContenutoCategoria from "@/components/categoria/ContenutoCategoria.vue";
import FooterSito from "@/components/FooterSito.vue";

export default {
  name: "prodotti",
  components: {
    HeaderSito,
    HeaderMobileSito,
    BannerSito,
    BreadcrumbSito,
    ContenutoCategoria,
    FooterSito
  }
};
</script>