<template>
  <div class="wrapProdotto">
    <div class="wrapper">
      <header-sito></header-sito>
      <header-mobile-sito></header-mobile-sito>

      <banner-sito></banner-sito>

      <navigazione-prodotto></navigazione-prodotto>

      <contenuto-prodotto></contenuto-prodotto>

      <footer-sito></footer-sito>
    </div>
  </div>
</template>

<script>
import HeaderSito from "@/components/HeaderSito.vue";
import HeaderMobileSito from "@/components/HeaderMobileSito.vue";
import BannerSito from "@/components/BannerSito.vue";
import NavigazioneProdotto from "@/components/prodotto/NavigazioneProdotto.vue";
import ContenutoProdotto from "@/components/prodotto/ContenutoProdotto.vue";
import FooterSito from "@/components/FooterSito.vue";

export default {
  name: "prodotto",
  components: {
    HeaderSito,
    HeaderMobileSito,
    BannerSito,
    NavigazioneProdotto,
    ContenutoProdotto,
    FooterSito
  }
};
</script>