<template>
  <div class="product-item">
    <div class="product-img">
      <router-link
        :to="'/prodotto/'+prodotto.id+'/'+ string_to_slug(scegliTitolo(prodotto.subname,prodotto.metaTitle))"
      >
        <img
          :src="'https://storage.cloud.google.com/hp-admin-upload/uploads/product_'+prodotto.variants[0].code+'-c0.jpg'"
          :alt="prodotto.subname"
        />
      </router-link>
    </div>

    <div class="product-info">
      <div class="product-colors" style="display: hidden">
        <i class="zmdi zmdi-circle" style="color: #654321"></i>
        <i class="zmdi zmdi-circle" style="color: #FF0000"></i>
        <i class="zmdi zmdi-circle" style="color: #B2B2B2"></i>
        <i class="zmdi zmdi-circle" style="color: #0000FF"></i>
      </div>

      <h6 class="product-title">
        <router-link
          :to="'/prodotto/'+prodotto.id+'/'+ string_to_slug(scegliTitolo(prodotto.subname,prodotto.metaTitle))"
        >
          <strong>{{prodotto.brand.label}}</strong>
          <br />
          {{prodotto.subname}}
        </router-link>
      </h6>
      <h3 class="pro-price">
        <span class="old">€ {{prodotto.amount}}</span>
        € {{prodotto.finalAmount}}
      </h3>
      <div class="sped-gratis">
        <span v-show="prodotto.variants[0].freeShipping">Spedizione Gratis</span>
      </div>
      <ul class="action-button hidden-sm hidden-xs">
        <li>
          <a href="#" title="Lista dei desideri">
            <i class="zmdi zmdi-favorite"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "AnteprimaProdotto",

  props: {
    prodotto: Object
  },

  methods: {
    string_to_slug(str) {
      str = str.replace(/^\s+|\s+$/g, ""); //trim
      str = str.toLowerCase();

      //rimuovo accenti e caratteri speciali
      var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
      var to = "aaaaeeeeiiiioooouuuunc------";
      for (var i = 0, l = from.length; i < l; i++) {
        str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
      }

      str = str
        .replace(/[^a-z0-9 -]/g, "") //rimuovo caratteri non alfanumerici
        .replace(/\s+/g, "-") //sostituisco gli spazi con -
        .replace(/-+/g, "-"); //rimuovo i - multipli

      return str;
    },

    scegliTitolo(tit1, tit2) {
      let titolo = "";
      tit1 ? (titolo = tit1) : (titolo = tit2);
      return titolo;
    }
  }
};
</script>