<template>
  <div class="container hidden-sm hidden-xs mb-30">
    <div class="row">
      <div class="col-sm-12">
        <img
          src="_img/banner/1140x/selle-arcione-regolabile-acavallo_20190222.jpg"
          alt="Selle con arcione regolabile - A Cavallo"
          class="img"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BannerSito"
};
</script>