<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumb">
          <li>
            <a href="#">Cavallo</a>
          </li>
          <li>
            <a href="#">Selleria Inglese</a>
          </li>
          <li>
            <a href="#">Briglie Inglesi</a>
          </li>
          <li>Briglie in cuoio</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BreadcrumbSito"
};
</script>