<template>
  <aside class="widget widget-categories box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Categorie</h6>
    <div id="cat-treeview" class="product-cat">
      <ul>
        <li class="open">
          <a href="#">Selleria inglese</a>
          <ul>
            <li class="open">
              <a href="#">Briglie inglesi</a>
              <ul>
                <li>
                  <a href="#">Briglie Biotane e PVC</a>
                </li>
                <li>
                  <a href="#">Briglie in cuoio</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Frontalini inglesi</a>
            </li>
            <li class="closed">
              <a href="#">Morsi e filetti inglesi</a>
              <ul>
                <li>
                  <a href="#">Barbozzali e accessori</a>
                </li>
                <li>
                  <a href="#">Chifney</a>
                </li>
                <li>
                  <a href="#">Filetti a D</a>
                </li>
                <li>
                  <a href="#">Filetti a doppi anelli, Pipa</a>
                </li>
                <li>
                  <a href="#">Filetti ad anelli</a>
                </li>
                <li>
                  <a href="#">Filetti ad aste</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Nasaline e rivestimenti</a>
            </li>
            <li>
              <a href="#">Pettorali, martingala e forchette</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
import axios from "axios";
import { JSONPath } from "jsonpath-plus";

export default {
  data() {
    return {
      categorie: "",
      categorieFiltrate: ""
    };
  },

  created() {
    axios
      .get("_api/categorie.json")
      .then(response => {
        this.categorie = response.data.childs;
        /*this.categorieFiltrate = this.categorie.filter(function(entry) {
          return entry.id === 2393;
        });*/

        this.categorieFiltrate = JSONPath(
          this.categorie.toString(),
          "$.[?(@.id==2393)]"
        );
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>