<template>
  <aside class="widget box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Filtra per prezzo</h6>
    <div class="price_filter">
      <div class="price_slider_amount">
        <input type="submit" value="Compreso tra:" />
        <input type="text" id="amount" name="price" placeholder="Inserisci il tuo prezzo" />
      </div>
      <div id="slider-range"></div>
    </div>

    <form action="action_page.php">
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />Spedizione gratis
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />Prezzi scontati
      </label>
    </form>
  </aside>
</template>