<template>
  <aside class="widget widget-color box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Filtra per colore</h6>
    <ul>
      <li class="color-1">
        <a href="#">Salmone</a>
      </li>
      <li class="color-2">
        <a href="#">Rosa</a>
      </li>
      <li class="color-3">
        <a href="#">Rosso</a>
      </li>
      <li class="color-4">
        <a href="#">Blu</a>
      </li>
      <li class="color-5">
        <a href="#">Celeste</a>
      </li>
      <li class="color-6">
        <a href="#">Verde</a>
      </li>
    </ul>
  </aside>
</template>