<template>
  <aside class="widget operating-system box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Filtra per marca</h6>
    <form action="action_page.php">
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />A Cavallo (5)
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />Chetak (4)
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />Daslo (7)
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />Derby (9)
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />Equestro (20)
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />HKM Classic (20)
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />HKM Little Sister (20)
      </label>
      <br />
      <label class="mb-0">
        <input type="checkbox" name="operating-1" value="phone-1" />HKM Tutti i prodotti (20)
      </label>
    </form>
  </aside>
</template>