<template>
  <aside class="widget operating-system box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Filtra per taglia</h6>
    <form action="action_page.php">
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />XS
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />S
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />M
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />L
      </label>
      <br />
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />XL
      </label>
      <br />
      <label class="mb-0">
        <input type="checkbox" name="operating-1" value="phone-1" />XXL
      </label>
    </form>
  </aside>
</template>