<template>
  <div class="mobile-menu-area hidden-lg hidden-md mb-20">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="mobile-menu">
            <nav id="dropdown">
              <ul>
                <li>
                  <a href="index.html">Home</a>
                  <ul>
                    <li>
                      <a href="index.html">Home Version 1</a>
                    </li>
                    <li>
                      <a href="index-2.html">Home Version 2</a>
                    </li>
                    <li>
                      <a href="index-3.html">Home Version 3</a>
                    </li>
                    <li>
                      <a href="index-4.html">Home 4 Animated Text</a>
                    </li>
                    <li>
                      <a href="index-5.html">Home 5 Animated Text Ovlerlay</a>
                    </li>
                    <li>
                      <a href="index-6.html">Home 6 Background Video</a>
                    </li>
                    <li>
                      <a href="index-7.html">Home 7 BG-Video Ovlerlay</a>
                    </li>
                    <li>
                      <a href="index-8.html">Home 8 Boxed-1</a>
                    </li>
                    <li>
                      <a href="index-9.html">Home 9 Gradient</a>
                    </li>
                    <li>
                      <a href="index-10.html">Home 10 Boxed-2</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="shop.html">Products</a>
                </li>
                <li>
                  <a href="#">Pages</a>
                  <ul>
                    <li>
                      <a href="shop.html">Shop</a>
                    </li>
                    <li>
                      <a href="shop-left-sidebar.html">Shop Left Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-right-sidebar.html">Shop Right Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-list.html">Shop List</a>
                    </li>
                    <li>
                      <a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                    </li>
                    <li>
                      <a href="single-product.html">Single Product</a>
                    </li>
                    <li>
                      <a href="single-product-left-sidebar.html">Single Product Left Sidebar</a>
                    </li>
                    <li>
                      <a href="single-product-no-sidebar.html">Single Product No Sidebar</a>
                    </li>
                    <li>
                      <a href="cart.html">Shopping Cart</a>
                    </li>
                    <li>
                      <a href="wishlist.html">Wishlist</a>
                    </li>
                    <li>
                      <a href="checkout.html">Checkout</a>
                    </li>
                    <li>
                      <a href="order.html">Order</a>
                    </li>
                    <li>
                      <a href="login.html">Login</a>
                    </li>
                    <li>
                      <a href="My-account.html">My Account</a>
                    </li>
                    <li>
                      <a href="about.html">About us</a>
                    </li>
                    <li>
                      <a href="404.html">404</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li>
                      <a href="blog.html">Blog</a>
                    </li>
                    <li>
                      <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                    </li>
                    <li>
                      <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                    </li>
                    <li>
                      <a href="blog-2.html">Blog style 2</a>
                    </li>
                    <li>
                      <a href="blog-2-left-sidebar.html">Blog 2 Left Sidebar</a>
                    </li>
                    <li>
                      <a href="blog-2-right-sidebar.html">Blog 2 Right Sidebar</a>
                    </li>
                    <li>
                      <a href="single-blog.html">Blog Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="about.html">About Us</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderMobileSito"
};
</script>