<template>
  <header class="header-area header-wrapper">
    <!-- header-top-bar -->
    <div class="header-top-bar plr-185">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <div class="call-us">
              <p class="mb-0 roboto">
                <a href="tel:00390362990913">
                  <i class="zmdi zmdi-phone"></i> (+39) 0362/990913
                </a>
              </p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="top-link clearfix">
              <ul class="link f-right">
                <li>
                  <a href="my-account.html">
                    <i class="zmdi zmdi-account"></i> Account
                  </a>
                </li>
                <li>
                  <a href="wishlist.html">
                    <i class="zmdi zmdi-favorite"></i> Lista dei desideri (0)
                  </a>
                </li>
                <li>
                  <a href="login.html">
                    <i class="zmdi zmdi-lock"></i> Login
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area plr-185">
      <div class="container-fluid">
        <div class="full-width-mega-dropdown">
          <div class="row">
            <!-- logo -->
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="logo">
                <a href="prodotti.asp">
                  <img src="/img/logo/logo.png" alt="main logo" />
                </a>
              </div>
            </div>
            <!-- primary-menu -->
            <div class="col-md-8 hidden-sm hidden-xs">
              <nav id="primary-menu">
                <ul class="main-menu text-center">
                  <li class="mega-parent">
                    <a href="#">Cavalli</a>
                    <div class="mega-menu-area clearfix">
                      <div class="mega-menu-link mega-menu-link-4 f-left">
                        <ul class="single-mega-item">
                          <li class="menu-title">SELLERIA INGLESE</li>
                          <li>
                            <a href="#">Briglie Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Frontalini Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Morsi e Filetti Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Nasaline e Rivestimenti</a>
                          </li>
                          <li>
                            <a href="#">Pettorali, Martingala e Forchette</a>
                          </li>
                          <li>
                            <a href="#">Redini Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Selle Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Sottopancia Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Sottosella Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Speroni e Portasperoni Inglesi</a>
                          </li>
                          <li>
                            <a href="#">Staffe e Staffili Inglesi</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">SELLERIA ALTRE DISCIPLINE</li>
                          <li>
                            <a
                              href="prodotti/trotto-carrozze-calessi-attacchi/2513"
                            >Attacchi, Trotto e Galoppo</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/horse-ball-palla-briglia-finimenti/1875"
                            >Horse Ball, Ippoterapia, Volteggio</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/monta-lavoro-australiana-maremmana-argentina/2514"
                            >Monta da Lavoro</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/monta-spagnola-portoghese-vaquera/2515"
                            >Monta Spagnola e Portoghese</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">SELLERIA WESTERN</li>
                          <li>
                            <a href="prodotti/briglie-americane-briglia-western/648">Briglie Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/bosal-mecate-fast-stop-side-pull/1447"
                            >Bosal, Mecate e Side-pull</a>
                          </li>
                          <li>
                            <a href="prodotti/lazi-western-lazo-americano/1914">Lazi Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/morsi-americani-morso-western/1959"
                            >Morsi e Filetti Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/nasaline-gusci-rivestimenti-western/1921"
                            >Nasaline e Rivestimenti</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/pettorali-americani-martingala-forchette-western/2626"
                            >Pettorali, Martingala e Forchette</a>
                          </li>
                          <li>
                            <a href="prodotti/redini-western-redine-americana/644">Redini Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/selle-western-americane-reinging-barrel/2530"
                            >Selle Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/sottopancia-western-americano/2592"
                            >Sottopancia e Ricambi Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/sottosella-western-tappetini-americani/1836"
                            >Sottosella Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/speroni-americani-portasperoni-western/2591"
                            >Speroni e Portasperoni Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/staffe-western-americane-fender/705"
                            >Staffe e Fender Western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/tie-down-chiudi-bocca-western/1913"
                            >Tie-down e Chiudi bocca</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">DOMA E ADDESTRAMENTO</li>
                          <li>
                            <a
                              href="prodotti/cavezzone-cavalli-cavezzoni-doma-cavallo/1846"
                            >Cavezzoni e Archetti</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/sottocoda-cavallo-codali-fascioni-cavalli/1895"
                            >Codali e Fascioni per Doma</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/gogue-cavallo-chambon-cavalli-equitazione/1956"
                            >Gogue e Chambon</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/longe-cavalli-redini-ritorno-cavallo/1847"
                            >Longe e Redini di Ritorno</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">PROTEZIONI CAVALLO</li>
                          <li>
                            <a
                              href="prodotti/pastoie-balze-pastoia-cavalli-equitazione/1363"
                            >Balze e Pastoie</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/museruole-cavalli-collare-cavallo-museruola/2583"
                            >Collari, Guaine e Museruole</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/fasce-cavallo-equitazione-sottofasce/634"
                            >Fasce e Sottofasce</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/paracolpi-trasporto-paracoda-cavalli/1812"
                            >Paracoda e Paracolpi Trasporto</a>
                          </li>
                          <li>
                            <a href="prodotti/paraglomi-cavallo-equitazione/1813">Paraglomi</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/protezioni-dressage-cavalli-equitazione/2595"
                            >Protezioni Dressage</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/paratendini-paranocche-paratendine-equitazione/1817"
                            >Protezioni Salto Ostacoli</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/stinchiere-western-protezione-cavalli/1814"
                            >Protezioni western</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/scarpe-cavalli-scarpette-zoccolo/1820"
                            >Scarpe per cavalli</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">CAVEZZE E LUNGHINE</li>
                          <li>
                            <a
                              href="prodotti/cavezze-corda-cavalli-equitazione/2216"
                            >Cavezze in Corda Annodate</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/cavezze-cuoio-cavalli-equitazione/1823"
                            >Cavezze in cuoio</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/cavezze-nylon-cavalli-equitazione/1822"
                            >Cavezze in Nylon</a>
                          </li>
                          <li>
                            <a href="prodotti/lunghine-cavalli-lunghina-equitazione/2199">Lunghine</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">CURA DEL CUOIO</li>
                          <li>
                            <a
                              href="prodotti/grasso-cuoio-olio-selle-finimenti/2123"
                            >Grasso e Olio Cuoio</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/pennelli-cesoie-foratrici-cuoio/2126"
                            >Pennelli, Cesoie e Foratrici</a>
                          </li>
                          <li>
                            <a href="prodotti/sapone-cuoio-selle-finimenti/2125">Sapone Cuoio</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">COPERTE PER CAVALLI</li>
                          <li>
                            <a
                              href="prodotti/cappucci-scaldareni-cinghie/1861"
                            >Cappucci, Scaldareni e Cinghie</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/coperte-cotone-cavallo-equitazione/1858"
                            >Coperte Cotone</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/coperte-impermeabili-paddock-cavalli-equitazione/1856"
                            >Coperte Impermeabili da paddock</a>
                          </li>
                          <li>
                            <a href="prodotti/coperte-lycra-cavalli-equitazione/1862">Coperte Lycra</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/coperte-equitazione-coperta-pile-lana/1857"
                            >Coperte Pile e Lana</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/coperte-piumino-box-cavalli-equitazione/1859"
                            >Coperte Piumino da box</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/coperte-rete-antimosche-spugna-cavalli/1860"
                            >Coperte Rete e Spugna</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">CUFFIE E MASCHERE</li>
                          <li>
                            <a
                              href="prodotti/cuffie-cavalli-maschere-antimosche-equitazione/854"
                            >Cuffie cavalli</a>
                          </li>
                          <li>
                            <a href="prodotti/maschere-antimosche/2512">Maschere antimosche</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">
                            <a href="prodotti/bareback-little-dude/1800">BAREBACK E LITTLE DUDE</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">
                            <a
                              href="prodotti/bisacce-equitazione-bisaccia-cavallo/907"
                            >BISACCE EQUITAZIONE</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">MOSCHETTONI E FIBBIE</li>
                          <li>
                            <a
                              href="prodotti/borchie-viti-decorazioni-selle/1884"
                            >Borchie e Decorazioni</a>
                          </li>
                          <li>
                            <a href="prodotti/fibbie-anelli-briglie-finimenti/1883">Fibbie e Anelli</a>
                          </li>
                          <li>
                            <a
                              href="prodotti/moschettoni-scuderia-morsetti/1882"
                            >Moschettoni e Morsetti</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li class="mega-parent">
                    <a href="#">Cavaliere</a>
                  </li>

                  <li>
                    <a href="contact.html">Scuderia e recinti</a>
                  </li>

                  <li>
                    <a href="contact.html">Cura del cavallo</a>
                  </li>

                  <li>
                    <a href="blog.html">Cani</a>
                  </li>

                  <li>
                    <a href="about.html">Gatti</a>
                  </li>

                  <li>
                    <a href="contact.html">Altri animali</a>
                  </li>

                  <li>
                    <a href="contact.html">Persona</a>
                  </li>

                  <li>
                    <a href="contact.html">Casa</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- header-search & total-cart -->
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="search-top-cart f-right">
                <!-- header-search -->
                <div class="header-search f-left">
                  <div class="header-search-inner">
                    <button class="search-toggle">
                      <i class="zmdi zmdi-search"></i>
                    </button>
                    <form action="#">
                      <div class="top-search-box">
                        <input type="text" placeholder="Cerca per nome o codice..." />
                        <button type="submit">
                          <i class="zmdi zmdi-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- total-cart -->
                <div class="total-cart f-left">
                  <div class="total-cart-in">
                    <div class="cart-toggler">
                      <a href="#">
                        <span class="cart-quantity">02</span>
                        <br />
                        <span class="cart-icon">
                          <i class="zmdi zmdi-shopping-cart-plus"></i>
                        </span>
                      </a>
                    </div>
                    <ul>
                      <li>
                        <div class="top-cart-inner your-cart">
                          <h5 class="text-capitalize">Il tuo carrello</h5>
                        </div>
                      </li>
                      <li>
                        <div class="total-cart-pro">
                          <!-- single-cart -->
                          <div class="single-cart clearfix">
                            <div class="cart-img f-left">
                              <a href="#">
                                <img src="/img/cart/1.jpg" alt="Cart Product" />
                              </a>
                              <div class="del-icon">
                                <a href="#">
                                  <i class="zmdi zmdi-close"></i>
                                </a>
                              </div>
                            </div>
                            <div class="cart-info f-left">
                              <h6 class="text-capitalize">
                                <a href="#">Dummy Product Name</a>
                              </h6>
                              <p>
                                <span>
                                  Brand
                                  <strong>:</strong>
                                </span>Brand Name
                              </p>
                              <p>
                                <span>
                                  Model
                                  <strong>:</strong>
                                </span>Grand s2
                              </p>
                              <p>
                                <span>
                                  Color
                                  <strong>:</strong>
                                </span>Black, White
                              </p>
                            </div>
                          </div>
                          <!-- single-cart -->
                          <div class="single-cart clearfix">
                            <div class="cart-img f-left">
                              <a href="#">
                                <img src="/img/cart/1.jpg" alt="Cart Product" />
                              </a>
                              <div class="del-icon">
                                <a href="#">
                                  <i class="zmdi zmdi-close"></i>
                                </a>
                              </div>
                            </div>
                            <div class="cart-info f-left">
                              <h6 class="text-capitalize">
                                <a href="#">Dummy Product Name</a>
                              </h6>
                              <p>
                                <span>
                                  Brand
                                  <strong>:</strong>
                                </span>Brand Name
                              </p>
                              <p>
                                <span>
                                  Model
                                  <strong>:</strong>
                                </span>Grand s2
                              </p>
                              <p>
                                <span>
                                  Color
                                  <strong>:</strong>
                                </span>Black, White
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="top-cart-inner subtotal">
                          <h4 class="text-uppercase g-font-2">
                            Totale =
                            <span>€ 999,99</span>
                          </h4>
                        </div>
                      </li>
                      <li>
                        <div class="top-cart-inner view-cart">
                          <h4 class="text-uppercase">
                            <router-link to="/carrello">Vai al carrello</router-link>
                          </h4>
                        </div>
                      </li>
                      <li>
                        <div class="top-cart-inner check-out">
                          <h4 class="text-uppercase">
                            <a href="#">Concludi l'ordine</a>
                          </h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "HeaderSito"
};
</script>