<template>
  <ul class="paginazione box-shadow text-center">
    <li>
      <a href="#">
        <i class="zmdi zmdi-chevron-left"></i>
      </a>
    </li>
    <li>
      <a href="#">01</a>
    </li>
    <li>
      <a href="#">02</a>
    </li>
    <li>
      <a href="#">03</a>
    </li>
    <li>
      <a href="#">...</a>
    </li>
    <li>
      <a href="#">05</a>
    </li>
    <li class="active">
      <a href="#">
        <i class="zmdi zmdi-chevron-right"></i>
      </a>
    </li>
  </ul>
</template>

<script>
export default {};
</script>
