<template>
  <aside class="widget ultimi-visti box-shadow">
    <h6 class="widget-title border-left mb-20">Ultimi prodotti visti</h6>
    <!-- prodotto -->
    <div class="product-item">
      <div class="product-img">
        <a href="prodotto.asp">
          <img src="https://www.nonsolocavallo.it/foto/thumb/neing1-c.jpg" alt />
        </a>
      </div>

      <div class="product-info">
        <h6 class="product-title">
          <a href="prodotto.asp">
            Kit recinzione professionale Gallagher per cavalli
            composto da...
          </a>
        </h6>
        <h3 class="pro-price">€ 1234,56</h3>
      </div>
    </div>
  </aside>
</template>