<template>
  <div class="col-md-3 hidden-sm hidden-xs">
    <categorie-col-sx></categorie-col-sx>

    <filtra-marca-col-sx></filtra-marca-col-sx>

    <filtra-prezzo-col-sx></filtra-prezzo-col-sx>

    <filtra-colore-col-sx :tendine="tendine"></filtra-colore-col-sx>

    <filtra-taglia-col-sx></filtra-taglia-col-sx>

    <ultimi-visti-col-sx></ultimi-visti-col-sx>
  </div>
</template>

<script>
import CategorieColSx from "../CategorieColSx.vue";
import FiltraMarcaColSx from "../FiltraMarcaColSx.vue";
import FiltraPrezzoColSx from "../FiltraPrezzoColSx.vue";
import FiltraColoreColSx from "../FiltraColoreColSx.vue";
import FiltraTagliaColSx from "../FiltraTagliaColSx.vue";
import UltimiVistiColSx from "../UltimiVistiColSx.vue";

import axios from "axios";

export default {
  name: "ColSxCategoria",

  components: {
    CategorieColSx,
    FiltraMarcaColSx,
    FiltraPrezzoColSx,
    FiltraColoreColSx,
    FiltraTagliaColSx,
    UltimiVistiColSx
  },

  data() {
    return {
      tendine: []
    };
  },

  created() {
    axios
      .get("_api/goodsCategory.json")
      .then(response => {
        this.tendine = response.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>