<template>
  <div class="container mb-80">
    <div class="row">
      <col-sx-categoria></col-sx-categoria>

      <div class="col-md-9 col-sm-12">
        <div class="shop-content">
          <ordinamento-mobile-categoria></ordinamento-mobile-categoria>
          <ordinamento-categoria :numeroProdotti="risultati.numberOfElements"></ordinamento-categoria>

          <!-- risultati -->
          <div class="row">
            <!-- prodotto -->
            <div class="col-md-3 col-sm-4 col-xs-6" v-for="(prodotto, id) in prodotti" :key="id">
              <anteprima-prodotto :prodotto="prodotto"></anteprima-prodotto>
            </div>
          </div>

          <!-- paginazione -->
          <paginazione-sito></paginazione-sito>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ColSxCategoria from "./ColSxCategoria.vue";
import OrdinamentoMobileCategoria from "./OrdinamentoMobileCategoria.vue";
import OrdinamentoCategoria from "./OrdinamentoCategoria.vue";
import AnteprimaProdotto from "../AnteprimaProdotto.vue";
import PaginazioneSito from "../PaginazioneSito.vue";

import axios from "axios";

export default {
  name: "ContenutoCategoria",

  components: {
    ColSxCategoria,
    OrdinamentoMobileCategoria,
    OrdinamentoCategoria,
    AnteprimaProdotto,
    PaginazioneSito
  },

  data() {
    return {
      risultati: [],
      prodotti: [],
      prodotto: {
        id: "",
        brand: {
          label: ""
        }
      }
    };
  },

  created() {
    axios
      .get("_api/prodotti.json")
      .then(response => {
        this.risultati = response.data;
        this.prodotti = response.data.content;
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>