<template>
  <div class="row filtri-mobile hidden-md hidden-lg">
    <div class="col-xs-6">
      <button class="bottone1" type="button" data-toggle="modal" data-target="#catModal">CATEGORIE</button>
    </div>
    <div class="col-xs-6">
      <button
        class="bottone1"
        type="button"
        data-toggle="modal"
        data-target="#filtersModal"
      >FILTRA / ORDINA</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrdinamentoMobileCategoria"
};
</script>