<template>
  <div class="shop-option box-shadow mb-30 clearfix visible-lg">
    <!-- short-by -->
    <div class="short-by f-left text-center">
      <span>Ordina per:</span>
      <select>
        <option value="sconto">Sconto maggiore</option>
        <option value="ultimi_ins">Ultimi inseriti</option>
        <option value="prezzo_cre">Prezzo crescente</option>
        <option value="prezzo_dec">Prezzo decrescente</option>
      </select>
    </div>
    <!-- showing -->
    <div class="showing f-right text-right">
      <span>Numero prodotti: {{numeroProdotti}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrdinamentoCategoria",
  props: {
    numeroProdotti: Number
  }
};
</script>