<template>
 <div class="container mb-80">
      <div class="row">
        <div class="col-md-2 hidden-xs">
          <ul class="cart-tab">
            <li class="active">
              <a class="active" href="#shopping-cart" data-toggle="tab" aria-expanded="true">
                <span>01</span>
                Carrello
              </a>
            </li>

            <li class="">
              <a href="#checkout" data-toggle="tab" class="" aria-expanded="false">
                <span>02</span>
                Checkout
              </a>
            </li>

            <li class="">
              <a href="#order-complete" data-toggle="tab" class="" aria-expanded="false">
                <span>03</span>
                Conferma ordine
              </a>
            </li>
          </ul>
        </div>



        <div class="col-md-10 col-sm-12">
            <!-- Tab panes -->
            <div class="tab-content">
              <!-- CARRELLO -->
              <div class="tab-pane active" id="shopping-cart">
                <div class="prods-carrello">
                  <form action="#">
                    <div class="table-content table-responsive mb-50">
                      <table class="text-center">
                        <thead>
                          <tr>
                            <th class="product-thumbnail">Articolo</th>
                            <th class="product-price hidden-xs">Prezzo</th>
                            <th class="product-quantity">Quantità</th>
                            <th class="product-subtotal">Totale</th>
                            <th class="product-remove hidden-xs">Rimuovi</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td class="product-thumbnail">
                              <div class="pro-thumbnail-img">
                                <a href="prodotto.asp"><img src="https://www.nonsolocavallo.it/foto/thumb/neing1-c.jpg" alt="Coperta da box Waffeloptik con cinghie e imbottitura antifiaccatura sul garrese di colore blu"></a>
                              </div>
                              <div class="pro-thumbnail-info text-left">
                                <span class="hidden-xs">NEBR00305</span>
                                <h6 class="titolo"><a href="prodotto.asp">Coperta da box Waffeloptik con cinghie e imbottitura antifiaccatura sul garrese di colore blu </a></h6>
                                <p><span class="hidden-xs">Marca: </span>Tattini</p>
                                <p><span class="hidden-xs">Colore: </span>Rosso</p>
                                <p><span class="hidden-xs">Taglia: </span>42</p>
                                <a href="#" class="hidden-sm hidden-md hidden-lg"><i class="zmdi zmdi-close"></i> ELIMINA</a>
                              </div>
                            </td>
                            <td class="product-price hidden-xs">€1023,69</td>
                            <td class="product-quantity">
                              <div class="cart-plus-minus f-left mb-20">
                                <input type="text" value="2" name="qtybutton" class="cart-plus-minus-box">
                              </div>
                            </td>
                            <td class="product-subtotal">€2047,38</td>
                            <td class="product-remove hidden-xs"><a href="#"><i class="zmdi zmdi-close"></i></a></td>
                          </tr>

                          <tr>
                            <td class="product-thumbnail">
                              <div class="pro-thumbnail-img">
                                <a href="prodotto.asp"><img src="https://www.nonsolocavallo.it/foto/thumb/neing1-c.jpg" alt="Coperta da box Waffeloptik con cinghie e imbottitura antifiaccatura sul garrese di colore blu"></a>
                              </div>
                              <div class="pro-thumbnail-info text-left">
                                <span class="hidden-xs">NEBR00305</span>
                                <h6 class="titolo"><a href="prodotto.asp">Coperta da box Waffeloptik con cinghie e imbottitura antifiaccatura sul garrese di colore blu </a></h6>
                                <p><span class="hidden-xs">Marca: </span>Tattini</p>
                                <p><span class="hidden-xs">Variante: </span>Var 1</p>
                                <p><span class="hidden-xs">Colore: </span>Rosso</p>
                                <a href="#" class="hidden-sm hidden-md hidden-lg"><i class="zmdi zmdi-close"></i> ELIMINA</a>
                              </div>
                            </td>
                            <td class="product-price hidden-xs">€1023,69</td>
                            <td class="product-quantity">
                              <div class="cart-plus-minus f-left mb-20">
                                <input type="text" value="2" name="qtybutton" class="cart-plus-minus-box">
                              </div>
                            </td>
                            <td class="product-subtotal">€2047,38</td>
                            <td class="product-remove hidden-xs"><a href="#"><i class="zmdi zmdi-close"></i></a></td>
                          </tr>

                          <tr>
                            <td class="product-thumbnail">
                              <div class="pro-thumbnail-img">
                                <a href="prodotto.asp"><img src="https://www.nonsolocavallo.it/foto/thumb/neing1-c.jpg" alt="Coperta da box Waffeloptik con cinghie e imbottitura antifiaccatura sul garrese di colore blu"></a>
                              </div>
                              <div class="pro-thumbnail-info text-left">
                                <span class="hidden-xs">NEBR00305</span>
                                <h6 class="titolo"><a href="prodotto.asp">Coperta da box Waffeloptik con cinghie e imbottitura antifiaccatura sul garrese di colore blu </a></h6>
                                <p><span class="hidden-xs">Marca: </span>Tattini</p>
                                <a href="#" class="hidden-sm hidden-md hidden-lg"><i class="zmdi zmdi-close"></i> ELIMINA</a>
                              </div>
                            </td>
                            <td class="product-price hidden-xs">€1023,69</td>
                            <td class="product-quantity">
                              <div class="cart-plus-minus f-left mb-20">
                                <input type="text" value="2" name="qtybutton" class="cart-plus-minus-box">
                              </div>
                            </td>
                            <td class="product-subtotal">€2047,38</td>
                            <td class="product-remove hidden-xs"><a href="#"><i class="zmdi zmdi-close"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="coupon-discount box-shadow p-30 mb-10">
                          <h6 class="widget-title border-left mb-20">Hai un codice sconto o un buono regalo?</h6>
                          <input type="text" name="name" placeholder="Inserisci qui il codice sconto...">
                          <button class="bottone2" type="submit">CONFERMA SCONTO</button>
                        </div>

                        <div class="row mb-20">
                          <div class="col-sm-12">
                            <p class="verde">L'ordine sarà affidato al corriere in circa <strong>1-3 giorni lavorativi</strong> (in base all'articolo che richiede il tempo maggiore di evasione). <a data-toggle="modal" href="#modal_info" class="blu">info &raquo;</a></p>

                            <p>Questo ordine vale: 240 punti</p>

                            <div id="modal_info" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Dettagli di consegna</h4>
                                  </div>
                                  <div class="modal-body">
                                    <p>Il corriere consegna in Italia in <strong>24/48 ore</strong>. Il giorno effettivo di consegna potrebbe essere precedente o successivo a quello indicato in fase di ordine: al momento della presa in carico della spedizione il corriere invierà una email per confermare la data di consegna e fornire il tracking number</p>

                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="payment-details box-shadow p-30 mb-50">
                          <h6 class="widget-title border-left mb-20">IMPORTI</h6>
                          <table>
                            <tbody>
                              <tr>
                                <td class="td1">Subtotale merce iva inclusa</td>
                                <td class="td2">€155,00</td>
                              </tr>
                              <tr>
                                <td class="td1">Buono sconto (<em>facebook</em>)</td>
                                <td class="td2"><strong>-5%</strong></td>
                              </tr>
                              <tr>
                                <td class="td1">Spedizione con corriere espresso</td>
                                <td class="td2">€7,50</td>
                              </tr>
                              <tr>
                                <td class="td1"><input name="tessera_premium" id="tessera_premium" type="checkbox" value="si"> <label for="tessera_premium">Preavviso telefonico alla consegna</label></td>
                                <td class="td2">€1,80</td>
                              </tr>
                              <tr>
                                <td class="td1"><input name="tessera_premium" id="tessera_premium" type="checkbox" value="si"> <label for="tessera_premium">Consegna a Centri, Supermercati e GDO</label></td>
                                <td class="td2">€9,00</td>
                              </tr>
                              <tr>
                                <td class="order-total">TOTALE MERCE</td>
                                <td class="order-total-price">€2425,00</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <!-- modalità di pagamento -->
                        <div class="payment-method">
                          <h6 class="widget-title border-left mb-20">Modalità di pagamento</h6>
                          <div id="accordion">
                            <div class="panel">
                              <h4 class="payment-title box-shadow">
                                <input name="pagamento1" type="radio" value="contrassegno"> <a data-toggle="collapse" data-parent="#accordion" href="#contrassegno">Contrassegno alla consegna <big>+</big> €7,50</a>
                              </h4>
                              <div id="contrassegno" class="panel-collapse collapse">
                                <div class="payment-content">
                                  <p>Il pagamento con contrassegno alla consegna prevede una maggiorazione di € 7,50.</p>
                                  <p>Prepara l'importo esatto: il vettore non può dare resto.</p>
                                </div>
                              </div>
                            </div>

                            <div class="panel">
                              <h4 class="payment-title box-shadow">
                                <input name="pagamento1" type="radio" value="bonifico_bancario"> <a data-toggle="collapse" data-parent="#accordion" href="#bonifico_bancario">Bonifico bancario anticipato</a>
                              </h4>
                              <div id="bonifico_bancario" class="panel-collapse collapse">
                                <div class="payment-content">
                                  <p>Riceverai l'IBAN per effettuare il pagamento nell'email della conferma ordine</p>
                                </div>
                              </div>
                            </div>

                            <div class="panel">
                              <h4 class="payment-title box-shadow">
                                <input name="pagamento1" type="radio" value="carta_credito"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#carta_credito">Carta di Credito</a>
                              </h4>

                              <div id="carta_credito" class="panel-collapse collapse">
                                <div class="payment-content">
                                  <p>Accettiamo Visa, MasterCard e CartaSì.</p>
                                  <p>I pagamenti vengono effettuati sul POS della Banca tramite connessione crittografata con protocollo di rete sicuro SSL (Secure Socket Layer). Per pagare devi disporre di Codice di Sicurezza e/o PIN della tua Carta di Credito. Se non ne disponi, utilizza il circuito sicuro PayPal.</p>
                                </div>
                              </div>
                            </div>

                            <div class="panel">
                              <h4 class="payment-title box-shadow">
                                <input name="pagamento1" type="radio" value="paypal"> <a data-toggle="collapse" data-parent="#accordion" href="#paypal">PayPal</a>
                              </h4>
                              <div id="paypal" class="panel-collapse collapse">
                                <div class="payment-content">
                                  <p>Quando il processo d'ordine sarà concluso, verrai reindirizzato a PayPal per poter effettuare il pagamento. In seguito dovrai tornare al nostro sito per la conferma d'ordine. Puoi pagare con PayPal sia se disponi di un account sia se vuoi utilizzare la Carta di Credito in circuito sicuro se non disponi di Codice di Sicurezza o PIN</p>
                                </div>
                              </div>
                            </div>

                            <div class="panel">
                              <h4 class="payment-title box-shadow">
                                <input name="pagamento1" type="radio" value="ritiro_mano"> <a data-toggle="collapse" data-parent="#accordion" href="#ritiro_mano">Ritiro a mano presso di noi</a>
                              </h4>
                              <div id="ritiro_mano" class="panel-collapse collapse">
                                <div class="payment-content">
                                  <p>L'ordine può essere ritirato a mano presso la sede di Carate Brianza (MB), Via della Valle 46/a a seguito di una telefonata da parte di un operatore per appuntamento. In sede è possibile pagare esclusivamente in contanti.</p>
                                </div>
                              </div>
                            </div>

                            <div class="panel">
                              <h4 class="payment-title box-shadow">
                                <input name="pagamento1" type="radio" value="rate_rete"> <a data-toggle="collapse" data-parent="#accordion" href="#rate_rete">Pagamento a rate con Consel spa</a>
                              </h4>
                              <div id="rate_rete" class="panel-collapse collapse">
                                <div class="payment-content">
                                  <p>Grazie a un accordo con Consel Spa ti offriamo la possibilità di pagare i tuoi acquisti in comode rate addebitate sul conto corrente bancario. I finanziamenti possono essere richiesti da un consumatore privato per un importo minimo di € 150,00</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="bottone1 largo mt-50">CONFERMA IL TUO ORDINE</button>
                  </form>
                </div>
              </div>



              <!-- CHECKOUT -->
              <div class="tab-pane" id="checkout">
                <div class="checkout-content box-shadow p-30">
                  <form action="#">
                    <div class="row mb-30">
                      <!-- già cliente -->
                      <div class="col-md-6">
                        <div class="mb-30 pr-10">
                          <h6 class="widget-title border-left mb-20">Sei già cliente?</h6>
                          <input type="text" placeholder="Nome utente*">
                          <input type="text" placeholder="Password*">

                          <button class="bottone2" type="submit">Login</button>
                        </div>
                      </div>

                      <div class="payment-details col-md-6 box-shadow">
                        <div class="mb-10">
                          <h6 class="widget-title border-left mt-10">RIEPILOGO ORDINE</h6>
                          <table>
                            <tbody>
                              <tr>
                                <td class="td1">Subtotale merce iva esclusa</td>
                                <td class="td2">€130,00</td>
                              </tr>
                              <tr>
                                <td class="td1">Subtotale merce iva inclusa</td>
                                <td class="td2">€155,00</td>
                              </tr>
                              <tr>
                                <td class="td1">Buono sconto (<em>facebook</em>)</td>
                                <td class="td2"><strong>-5%</strong></td>
                              </tr>
                              <tr>
                                <td class="td1">Spedizione con corriere espresso</td>
                                <td class="td2">€7,50</td>
                              </tr>
                              <tr>
                                <td class="td1">Preavviso telefonico prima della consegna</td>
                                <td class="td2">€1,80</td>
                              </tr>
                              <tr>
                                <td class="td1">Consegna a Centri, Supermercati e GDO</td>
                                <td class="td2">€9,00</td>
                              </tr>
                              <tr>
                                <td class="order-total">TOTALE MERCE</td>
                                <td class="order-total-price2 f-right">€2425,00</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <!-- nuovo cliente -->
                    <div class="row mb-30">
                      <div class="col-xs-12">
                        <div class="pr-10">
                          <h6 class="widget-title border-left mb-20">Nuovo cliente?</h6>

                          <div class="row">
                            <div class="col-sm-6"><input type="text" placeholder="Nome*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Cognome*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Azienda, c/o, interno, citofono"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Email*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Indirizzo*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="N. civico*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="C.A.P.*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Città*"></div>
                            <div class="col-sm-6">
                              <select class="custom-select">
                                <option value="" selected="selected">Provincia</option>
                                <option value="AG">Agrigento (AG)</option>
                                <option value="AL">Alessandria (AL)</option>
                                <option value="AN">Ancona (AN)</option>
                                <option value="AO">Aosta (AO)</option>
                                <option value="AR">Arezzo (AR)</option>
                                <option value="AP">Ascoli Piceno (AP)</option>
                                <option value="AT">Asti (AT)</option>
                                <option value="AV">Avellino (AV)</option>
                                <option value="BA">Bari (BA)</option>
                                <option value="BT">Barletta-Andria-Trani (BT)</option>
                                <option value="BL">Belluno (BL)</option>
                                <option value="BN">Benevento (BN)</option>
                                <option value="BG">Bergamo (BG)</option>
                                <option value="BI">Biella (BI)</option>
                                <option value="BO">Bologna (BO)</option>
                                <option value="BZ">Bolzano (BZ)</option>
                                <option value="BS">Brescia (BS)</option>
                                <option value="BR">Brindisi (BR)</option>
                                <option value="CA">Cagliari (CA)</option>
                                <option value="CL">Caltanissetta (CL)</option>
                                <option value="CB">Campobasso (CB)</option>
                                <option value="CI">Carbonia-Iglesias (CI)</option>
                                <option value="CE">Caserta (CE)</option>
                                <option value="CT">Catania (CT)</option>
                                <option value="CZ">Catanzaro (CZ)</option>
                                <option value="CH">Chieti (CH)</option>
                                <option value="CO">Como (CO)</option>
                                <option value="CS">Cosenza (CS)</option>
                                <option value="CR">Cremona (CR)</option>
                                <option value="KR">Crotone (KR)</option>
                                <option value="CN">Cuneo (CN)</option>
                                <option value="EN">Enna (EN)</option>
                                <option value="FM">Fermo (FM)</option>
                                <option value="FE">Ferrara (FE)</option>
                                <option value="FI">Firenze (FI)</option>
                                <option value="FG">Foggia (FG)</option>
                                <option value="FC">Forlì-Cesena (FC)</option>
                                <option value="FR">Frosinone (FR)</option>
                                <option value="GE">Genova (GE)</option>
                                <option value="GO">Gorizia (GO)</option>
                                <option value="GR">Grosseto (GR)</option>
                                <option value="IM">Imperia (IM)</option>
                                <option value="IS">Isernia (IS)</option>
                                <option value="SP">La Spezia (SP)</option>
                                <option value="AQ">L'Aquila (AQ)</option>
                                <option value="LT">Latina (LT)</option>
                                <option value="LE">Lecce (LE)</option>
                                <option value="LC">Lecco (LC)</option>
                                <option value="LI">Livorno (LI)</option>
                                <option value="LO">Lodi (LO)</option>
                                <option value="LU">Lucca (LU)</option>
                                <option value="MC">Macerata (MC)</option>
                                <option value="MN">Mantova (MN)</option>
                                <option value="MS">Massa-Carrara (MS)</option>
                                <option value="MT">Matera (MT)</option>
                                <option value="VS">Medio Campidano (VS)</option>
                                <option value="ME">Messina (ME)</option>
                                <option value="MI">Milano (MI)</option>
                                <option value="MO">Modena (MO)</option>
                                <option value="MB" selected="selected">Monza e della Brianza (MB)</option>
                                <option value="NA">Napoli (NA)</option>
                                <option value="NO">Novara (NO)</option>
                                <option value="NU">Nuoro (NU)</option>
                                <option value="OG">Ogliastra (OG)</option>
                                <option value="OT">Olbia-Tempio (OT)</option>
                                <option value="OR">Oristano (OR)</option>
                                <option value="PD">Padova (PD)</option>
                                <option value="PA">Palermo (PA)</option>
                                <option value="PR">Parma (PR)</option>
                                <option value="PV">Pavia (PV)</option>
                                <option value="PG">Perugia (PG)</option>
                                <option value="PU">Pesaro e Urbino (PU)</option>
                                <option value="PE">Pescara (PE)</option>
                                <option value="PC">Piacenza (PC)</option>
                                <option value="PI">Pisa (PI)</option>
                                <option value="PT">Pistoia (PT)</option>
                                <option value="PN">Pordenone (PN)</option>
                                <option value="PZ">Potenza (PZ)</option>
                                <option value="PO">Prato (PO)</option>
                                <option value="RG">Ragusa (RG)</option>
                                <option value="RA">Ravenna (RA)</option>
                                <option value="RC">Reggio Calabria (RC)</option>
                                <option value="RE">Reggio Emilia (RE)</option>
                                <option value="RSM">Repubblica di San Marino (RSM)</option>
                                <option value="RI">Rieti (RI)</option>
                                <option value="RN">Rimini (RN)</option>
                                <option value="RM">Roma (RM)</option>
                                <option value="RO">Rovigo (RO)</option>
                                <option value="SA">Salerno (SA)</option>
                                <option value="SS">Sassari (SS)</option>
                                <option value="SV">Savona (SV)</option>
                                <option value="SI">Siena (SI)</option>
                                <option value="SR">Siracusa (SR)</option>
                                <option value="SO">Sondrio (SO)</option>
                                <option value="SU">Sud Sardegna (SU)</option>
                                <option value="TA">Taranto (TA)</option>
                                <option value="TE">Teramo (TE)</option>
                                <option value="TR">Terni (TR)</option>
                                <option value="TO">Torino (TO)</option>
                                <option value="TP">Trapani (TP)</option>
                                <option value="TN">Trento (TN)</option>
                                <option value="TV">Treviso (TV)</option>
                                <option value="TS">Trieste (TS)</option>
                                <option value="UD">Udine (UD)</option>
                                <option value="VA">Varese (VA)</option>
                                <option value="VE">Venezia (VE)</option>
                                <option value="VB">Verbano-Cusio-Ossola (VB)</option>
                                <option value="VC">Vercelli (VC)</option>
                                <option value="VR">Verona (VR)</option>
                                <option value="VV">Vibo Valentia (VV)</option>
                                <option value="VI">Vicenza (VI)</option>
                                <option value="VT">Viterbo (VT)</option>
                                <option value="EE">Estero (EE)</option>
                              </select>
                            </div>
                            <div class="col-sm-6">
                              <select class="custom-select">
                                <option value="0" selected="selected" data-spese="italia">ITALIA</option>
                                <optgroup label="Stati Unione Europea">
                                  <option value="6" data-spese="11">Austria</option>
                                  <option value="7" data-spese="11">Belgio</option>
                                  <option value="34" data-spese="22">Bulgaria</option>
                                  <option value="38" data-spese="16">Croazia</option>
                                  <option value="8" data-spese="13,5">Danimarca</option>
                                  <option value="33" data-spese="22">Estonia</option>
                                  <option value="9" data-spese="31,72">Finlandia</option>
                                  <option value="1" data-spese="13,5">Francia</option>
                                  <option value="10" data-spese="62">Francia Corsica</option>
                                  <option value="2" data-spese="13,5">Germania</option>
                                  <option value="3" data-spese="13,5">Gran Bretagna</option>
                                  <option value="11" data-spese="80">Gran Bretagna Islands</option>
                                  <option value="36" data-spese="80">Gran Bretagna North Ireland</option>
                                  <option value="37" data-spese="80">Gran Bretagna Scotland</option>
                                  <option value="12" data-spese="43">Grecia</option>
                                  <option value="13" data-spese="68">Grecia isole</option>
                                  <option value="14" data-spese="22">Irlanda</option>
                                  <option value="39" data-spese="22">Lettonia</option>
                                  <option value="40" data-spese="22">Lituania</option>
                                  <option value="15" data-spese="11">Lussemburgo</option>
                                  <option value="18" data-spese="11">Olanda</option>
                                  <option value="19" data-spese="16">Polonia</option>
                                  <option value="16" data-spese="22">Portogallo</option>
                                  <option value="17" data-spese="75">Portogallo isole / Madera / Azzorre</option>
                                  <option value="20" data-spese="16">Repubblica ceca</option>
                                  <option value="21" data-spese="22">Repubblica slovacca</option>
                                  <option value="41" data-spese="22">Romania</option>
                                  <option value="22" data-spese="16">Slovenia</option>
                                  <option value="4" data-spese="16">Spagna</option>
                                  <option value="24" data-spese="55">Spagna Baleari</option>
                                  <option value="25" data-spese="22">Svezia</option>
                                  <option value="26" data-spese="16">Ungheria</option>
                                </optgroup>

                                <optgroup label="Stati extra Unione Europea">
                                  <option value="32" data-spese="135">Andorra e Gibilterra con dogana</option>
                                  <option value="35" data-spese="147">Gran Bretagna Channel Islands con dogana</option>
                                  <option value="30" data-spese="96">Liechtenstein con dogana</option>
                                  <option value="31" data-spese="93">Norvegia con dogana</option>
                                  <option value="42" data-spese="77">Serbia con dogana</option>
                                  <option value="27" data-spese="145">Spagna Canarie / Ceuta / Melilla con dogana</option>
                                  <option value="29" data-spese="74">Svizzera con dogana</option>
                                  <option value="28" data-spese="122">Turchia con dogana</option>
                                </optgroup>
                              </select>
                            </div>
                            <div class="col-sm-6"><input type="text" placeholder="Telefono"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Cellulare*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Data di nascita* gg/mm/aaaa"></div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-12"><textarea class="custom-textarea" placeholder="NOTE: Scrivici le misure necessarie per inviarti correttamente la taglia di ghette, cappelli western, chaps, ecc... Oppure, se hai acquistato un BUONO REGALO, comunicaci nome, cognome, email del destinatario del buono"></textarea></div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- indirizzo spedizione -->
                    <div class="row">
                      <div class="col-xs-12">
                        <input name="flag_spedizione" id="flag_spedizione" value="si" type="checkbox" data-toggle="collapse" data-target="#indirizzo_spedizione">  <label for="flag_spedizione" class="arancione">Desidero spedire a un indirizzo diverso</label>
                      </div>
                    </div>

                    <div class="row mb-10 collapse" id="indirizzo_spedizione">
                      <div class="col-xs-12">
                        <div class="pr-10">
                          <h6 class="widget-title border-left mb-20">Desideri spedire a un indirizzo diverso?</h6>

                          <div class="col-sm-12">
                            <p>
                              Se desideri per questo acquisto puoi modificare i dati della spedizione.<br>
                              Inserisci il nuovo indirizzo nei campi qui sotto, senza che ciò influisca sul tuo profilo personale.
                            </p>
                          </div>

                          <div class="row">
                            <div class="col-sm-6"><input type="text" placeholder="Nome*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Cognome*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Azienda, c/o, interno, citofono"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Indirizzo*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="N. civico*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="C.A.P.*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Città*"></div>
                            <div class="col-sm-6">
                              <select class="custom-select">
                                <option value="" selected="selected">Provincia</option>
                                <option value="AG">Agrigento (AG)</option>
                                <option value="AL">Alessandria (AL)</option>
                                <option value="AN">Ancona (AN)</option>
                                <option value="AO">Aosta (AO)</option>
                                <option value="AR">Arezzo (AR)</option>
                                <option value="AP">Ascoli Piceno (AP)</option>
                                <option value="AT">Asti (AT)</option>
                                <option value="AV">Avellino (AV)</option>
                                <option value="BA">Bari (BA)</option>
                                <option value="BT">Barletta-Andria-Trani (BT)</option>
                                <option value="BL">Belluno (BL)</option>
                                <option value="BN">Benevento (BN)</option>
                                <option value="BG">Bergamo (BG)</option>
                                <option value="BI">Biella (BI)</option>
                                <option value="BO">Bologna (BO)</option>
                                <option value="BZ">Bolzano (BZ)</option>
                                <option value="BS">Brescia (BS)</option>
                                <option value="BR">Brindisi (BR)</option>
                                <option value="CA">Cagliari (CA)</option>
                                <option value="CL">Caltanissetta (CL)</option>
                                <option value="CB">Campobasso (CB)</option>
                                <option value="CI">Carbonia-Iglesias (CI)</option>
                                <option value="CE">Caserta (CE)</option>
                                <option value="CT">Catania (CT)</option>
                                <option value="CZ">Catanzaro (CZ)</option>
                                <option value="CH">Chieti (CH)</option>
                                <option value="CO">Como (CO)</option>
                                <option value="CS">Cosenza (CS)</option>
                                <option value="CR">Cremona (CR)</option>
                                <option value="KR">Crotone (KR)</option>
                                <option value="CN">Cuneo (CN)</option>
                                <option value="EN">Enna (EN)</option>
                                <option value="FM">Fermo (FM)</option>
                                <option value="FE">Ferrara (FE)</option>
                                <option value="FI">Firenze (FI)</option>
                                <option value="FG">Foggia (FG)</option>
                                <option value="FC">Forlì-Cesena (FC)</option>
                                <option value="FR">Frosinone (FR)</option>
                                <option value="GE">Genova (GE)</option>
                                <option value="GO">Gorizia (GO)</option>
                                <option value="GR">Grosseto (GR)</option>
                                <option value="IM">Imperia (IM)</option>
                                <option value="IS">Isernia (IS)</option>
                                <option value="SP">La Spezia (SP)</option>
                                <option value="AQ">L'Aquila (AQ)</option>
                                <option value="LT">Latina (LT)</option>
                                <option value="LE">Lecce (LE)</option>
                                <option value="LC">Lecco (LC)</option>
                                <option value="LI">Livorno (LI)</option>
                                <option value="LO">Lodi (LO)</option>
                                <option value="LU">Lucca (LU)</option>
                                <option value="MC">Macerata (MC)</option>
                                <option value="MN">Mantova (MN)</option>
                                <option value="MS">Massa-Carrara (MS)</option>
                                <option value="MT">Matera (MT)</option>
                                <option value="VS">Medio Campidano (VS)</option>
                                <option value="ME">Messina (ME)</option>
                                <option value="MI">Milano (MI)</option>
                                <option value="MO">Modena (MO)</option>
                                <option value="MB" selected="selected">Monza e della Brianza (MB)</option>
                                <option value="NA">Napoli (NA)</option>
                                <option value="NO">Novara (NO)</option>
                                <option value="NU">Nuoro (NU)</option>
                                <option value="OG">Ogliastra (OG)</option>
                                <option value="OT">Olbia-Tempio (OT)</option>
                                <option value="OR">Oristano (OR)</option>
                                <option value="PD">Padova (PD)</option>
                                <option value="PA">Palermo (PA)</option>
                                <option value="PR">Parma (PR)</option>
                                <option value="PV">Pavia (PV)</option>
                                <option value="PG">Perugia (PG)</option>
                                <option value="PU">Pesaro e Urbino (PU)</option>
                                <option value="PE">Pescara (PE)</option>
                                <option value="PC">Piacenza (PC)</option>
                                <option value="PI">Pisa (PI)</option>
                                <option value="PT">Pistoia (PT)</option>
                                <option value="PN">Pordenone (PN)</option>
                                <option value="PZ">Potenza (PZ)</option>
                                <option value="PO">Prato (PO)</option>
                                <option value="RG">Ragusa (RG)</option>
                                <option value="RA">Ravenna (RA)</option>
                                <option value="RC">Reggio Calabria (RC)</option>
                                <option value="RE">Reggio Emilia (RE)</option>
                                <option value="RSM">Repubblica di San Marino (RSM)</option>
                                <option value="RI">Rieti (RI)</option>
                                <option value="RN">Rimini (RN)</option>
                                <option value="RM">Roma (RM)</option>
                                <option value="RO">Rovigo (RO)</option>
                                <option value="SA">Salerno (SA)</option>
                                <option value="SS">Sassari (SS)</option>
                                <option value="SV">Savona (SV)</option>
                                <option value="SI">Siena (SI)</option>
                                <option value="SR">Siracusa (SR)</option>
                                <option value="SO">Sondrio (SO)</option>
                                <option value="SU">Sud Sardegna (SU)</option>
                                <option value="TA">Taranto (TA)</option>
                                <option value="TE">Teramo (TE)</option>
                                <option value="TR">Terni (TR)</option>
                                <option value="TO">Torino (TO)</option>
                                <option value="TP">Trapani (TP)</option>
                                <option value="TN">Trento (TN)</option>
                                <option value="TV">Treviso (TV)</option>
                                <option value="TS">Trieste (TS)</option>
                                <option value="UD">Udine (UD)</option>
                                <option value="VA">Varese (VA)</option>
                                <option value="VE">Venezia (VE)</option>
                                <option value="VB">Verbano-Cusio-Ossola (VB)</option>
                                <option value="VC">Vercelli (VC)</option>
                                <option value="VR">Verona (VR)</option>
                                <option value="VV">Vibo Valentia (VV)</option>
                                <option value="VI">Vicenza (VI)</option>
                                <option value="VT">Viterbo (VT)</option>
                                <option value="EE">Estero (EE)</option>
                              </select>
                            </div>
                            <div class="col-sm-6">
                              <select class="custom-select">
                                <option value="0" selected="selected" data-spese="italia">ITALIA</option>
                                <optgroup label="Stati Unione Europea">
                                  <option value="6" data-spese="11">Austria</option>
                                  <option value="7" data-spese="11">Belgio</option>
                                  <option value="34" data-spese="22">Bulgaria</option>
                                  <option value="38" data-spese="16">Croazia</option>
                                  <option value="8" data-spese="13,5">Danimarca</option>
                                  <option value="33" data-spese="22">Estonia</option>
                                  <option value="9" data-spese="31,72">Finlandia</option>
                                  <option value="1" data-spese="13,5">Francia</option>
                                  <option value="10" data-spese="62">Francia Corsica</option>
                                  <option value="2" data-spese="13,5">Germania</option>
                                  <option value="3" data-spese="13,5">Gran Bretagna</option>
                                  <option value="11" data-spese="80">Gran Bretagna Islands</option>
                                  <option value="36" data-spese="80">Gran Bretagna North Ireland</option>
                                  <option value="37" data-spese="80">Gran Bretagna Scotland</option>
                                  <option value="12" data-spese="43">Grecia</option>
                                  <option value="13" data-spese="68">Grecia isole</option>
                                  <option value="14" data-spese="22">Irlanda</option>
                                  <option value="39" data-spese="22">Lettonia</option>
                                  <option value="40" data-spese="22">Lituania</option>
                                  <option value="15" data-spese="11">Lussemburgo</option>
                                  <option value="18" data-spese="11">Olanda</option>
                                  <option value="19" data-spese="16">Polonia</option>
                                  <option value="16" data-spese="22">Portogallo</option>
                                  <option value="17" data-spese="75">Portogallo isole / Madera / Azzorre</option>
                                  <option value="20" data-spese="16">Repubblica ceca</option>
                                  <option value="21" data-spese="22">Repubblica slovacca</option>
                                  <option value="41" data-spese="22">Romania</option>
                                  <option value="22" data-spese="16">Slovenia</option>
                                  <option value="4" data-spese="16">Spagna</option>
                                  <option value="24" data-spese="55">Spagna Baleari</option>
                                  <option value="25" data-spese="22">Svezia</option>
                                  <option value="26" data-spese="16">Ungheria</option>
                                </optgroup>

                                <optgroup label="Stati extra Unione Europea">
                                  <option value="32" data-spese="135">Andorra e Gibilterra con dogana</option>
                                  <option value="35" data-spese="147">Gran Bretagna Channel Islands con dogana</option>
                                  <option value="30" data-spese="96">Liechtenstein con dogana</option>
                                  <option value="31" data-spese="93">Norvegia con dogana</option>
                                  <option value="42" data-spese="77">Serbia con dogana</option>
                                  <option value="27" data-spese="145">Spagna Canarie / Ceuta / Melilla con dogana</option>
                                  <option value="29" data-spese="74">Svizzera con dogana</option>
                                  <option value="28" data-spese="122">Turchia con dogana</option>
                                </optgroup>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- indirizzo faturazione -->
                    <div class="row">
                      <div class="col-xs-12">
                        <input name="flag_fatturazione" id="flag_fatturazione" value="si" type="checkbox" data-toggle="collapse" data-target="#indirizzo_fatturazione"> <label for="flag_fatturazione" class="arancione">Desidero la fattura</label>
                      </div>
                    </div>

                    <div class="row collapse" id="indirizzo_fatturazione">
                      <div class="col-xs-12">
                        <div class="pr-10">
                          <h6 class="widget-title border-left">Desideri ricevere la fattura?</h6>

                          <div class="row">
                            <div class="col-sm-12">
                              <p>
                                Le fatture emesse verranno inviate in formato elettronico attraverso il Sistema di Interscambio (SdI) gestito dall'Agenzia delle Entrate.<br>
                                Non è possibile emettere fattura senza l'indicazione del Codice Destinatario o indirizzo Email PEC alternativo al Codice Destinatario.
                              </p>
                            </div>

                            <div class="col-sm-6"><input type="text" placeholder="Ragione sociale*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Indirizzo*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="N. civico*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="C.A.P.*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Città*"></div>
                            <div class="col-sm-6">
                              <select class="custom-select">
                                <option value="" selected="selected">Provincia</option>
                                <option value="AG">Agrigento (AG)</option>
                                <option value="AL">Alessandria (AL)</option>
                                <option value="AN">Ancona (AN)</option>
                                <option value="AO">Aosta (AO)</option>
                                <option value="AR">Arezzo (AR)</option>
                                <option value="AP">Ascoli Piceno (AP)</option>
                                <option value="AT">Asti (AT)</option>
                                <option value="AV">Avellino (AV)</option>
                                <option value="BA">Bari (BA)</option>
                                <option value="BT">Barletta-Andria-Trani (BT)</option>
                                <option value="BL">Belluno (BL)</option>
                                <option value="BN">Benevento (BN)</option>
                                <option value="BG">Bergamo (BG)</option>
                                <option value="BI">Biella (BI)</option>
                                <option value="BO">Bologna (BO)</option>
                                <option value="BZ">Bolzano (BZ)</option>
                                <option value="BS">Brescia (BS)</option>
                                <option value="BR">Brindisi (BR)</option>
                                <option value="CA">Cagliari (CA)</option>
                                <option value="CL">Caltanissetta (CL)</option>
                                <option value="CB">Campobasso (CB)</option>
                                <option value="CI">Carbonia-Iglesias (CI)</option>
                                <option value="CE">Caserta (CE)</option>
                                <option value="CT">Catania (CT)</option>
                                <option value="CZ">Catanzaro (CZ)</option>
                                <option value="CH">Chieti (CH)</option>
                                <option value="CO">Como (CO)</option>
                                <option value="CS">Cosenza (CS)</option>
                                <option value="CR">Cremona (CR)</option>
                                <option value="KR">Crotone (KR)</option>
                                <option value="CN">Cuneo (CN)</option>
                                <option value="EN">Enna (EN)</option>
                                <option value="FM">Fermo (FM)</option>
                                <option value="FE">Ferrara (FE)</option>
                                <option value="FI">Firenze (FI)</option>
                                <option value="FG">Foggia (FG)</option>
                                <option value="FC">Forlì-Cesena (FC)</option>
                                <option value="FR">Frosinone (FR)</option>
                                <option value="GE">Genova (GE)</option>
                                <option value="GO">Gorizia (GO)</option>
                                <option value="GR">Grosseto (GR)</option>
                                <option value="IM">Imperia (IM)</option>
                                <option value="IS">Isernia (IS)</option>
                                <option value="SP">La Spezia (SP)</option>
                                <option value="AQ">L'Aquila (AQ)</option>
                                <option value="LT">Latina (LT)</option>
                                <option value="LE">Lecce (LE)</option>
                                <option value="LC">Lecco (LC)</option>
                                <option value="LI">Livorno (LI)</option>
                                <option value="LO">Lodi (LO)</option>
                                <option value="LU">Lucca (LU)</option>
                                <option value="MC">Macerata (MC)</option>
                                <option value="MN">Mantova (MN)</option>
                                <option value="MS">Massa-Carrara (MS)</option>
                                <option value="MT">Matera (MT)</option>
                                <option value="VS">Medio Campidano (VS)</option>
                                <option value="ME">Messina (ME)</option>
                                <option value="MI">Milano (MI)</option>
                                <option value="MO">Modena (MO)</option>
                                <option value="MB" selected="selected">Monza e della Brianza (MB)</option>
                                <option value="NA">Napoli (NA)</option>
                                <option value="NO">Novara (NO)</option>
                                <option value="NU">Nuoro (NU)</option>
                                <option value="OG">Ogliastra (OG)</option>
                                <option value="OT">Olbia-Tempio (OT)</option>
                                <option value="OR">Oristano (OR)</option>
                                <option value="PD">Padova (PD)</option>
                                <option value="PA">Palermo (PA)</option>
                                <option value="PR">Parma (PR)</option>
                                <option value="PV">Pavia (PV)</option>
                                <option value="PG">Perugia (PG)</option>
                                <option value="PU">Pesaro e Urbino (PU)</option>
                                <option value="PE">Pescara (PE)</option>
                                <option value="PC">Piacenza (PC)</option>
                                <option value="PI">Pisa (PI)</option>
                                <option value="PT">Pistoia (PT)</option>
                                <option value="PN">Pordenone (PN)</option>
                                <option value="PZ">Potenza (PZ)</option>
                                <option value="PO">Prato (PO)</option>
                                <option value="RG">Ragusa (RG)</option>
                                <option value="RA">Ravenna (RA)</option>
                                <option value="RC">Reggio Calabria (RC)</option>
                                <option value="RE">Reggio Emilia (RE)</option>
                                <option value="RSM">Repubblica di San Marino (RSM)</option>
                                <option value="RI">Rieti (RI)</option>
                                <option value="RN">Rimini (RN)</option>
                                <option value="RM">Roma (RM)</option>
                                <option value="RO">Rovigo (RO)</option>
                                <option value="SA">Salerno (SA)</option>
                                <option value="SS">Sassari (SS)</option>
                                <option value="SV">Savona (SV)</option>
                                <option value="SI">Siena (SI)</option>
                                <option value="SR">Siracusa (SR)</option>
                                <option value="SO">Sondrio (SO)</option>
                                <option value="SU">Sud Sardegna (SU)</option>
                                <option value="TA">Taranto (TA)</option>
                                <option value="TE">Teramo (TE)</option>
                                <option value="TR">Terni (TR)</option>
                                <option value="TO">Torino (TO)</option>
                                <option value="TP">Trapani (TP)</option>
                                <option value="TN">Trento (TN)</option>
                                <option value="TV">Treviso (TV)</option>
                                <option value="TS">Trieste (TS)</option>
                                <option value="UD">Udine (UD)</option>
                                <option value="VA">Varese (VA)</option>
                                <option value="VE">Venezia (VE)</option>
                                <option value="VB">Verbano-Cusio-Ossola (VB)</option>
                                <option value="VC">Vercelli (VC)</option>
                                <option value="VR">Verona (VR)</option>
                                <option value="VV">Vibo Valentia (VV)</option>
                                <option value="VI">Vicenza (VI)</option>
                                <option value="VT">Viterbo (VT)</option>
                                <option value="EE">Estero (EE)</option>
                              </select>
                            </div>
                            <div class="col-sm-6"><input type="text" placeholder="Codice Fiscale*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Partita IVA*"></div>
                            <div class="col-sm-6"><input type="text" placeholder="Codice Destinatario**"></div>
                            <div class="col-sm-6"><input type="email" placeholder="Email PEC**"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-30">
                      <div class="col-xs-8">
                        <a data-toggle="modal" href="#condizioni_vendita" class="blu">Condizioni di vendita &raquo;</a>


                            <div id="condizioni_vendita" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Condizioni di vendita</h4>
                                  </div>
                                  <div class="modal-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Restincta enim sitis stabilitatem voluptatis habet, inquit, illa autem voluptas ipsius restinctionis in motu est. Etiam inchoatum, ut, si iuste depositum reddere in recte factis sit, in officiis ponatur depositum reddere; At quicum ioca seria, ut dicitur, quicum arcana, quicum occulta omnia? Cum ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec. Magni enim aestimabat pecuniam non modo non contra leges, sed etiam legibus partam. Primum Theophrasti, Strato, physicum se voluit; Duo Reges: constructio interrete. Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                      </div>
                    </div>

                    <button class="bottone1 largo mt-30" type="submit">CONCLUDI IL TUO ORDINE</button>
                  </form>
                </div>
              </div>


              <!-- CONCLUSIONE -->
              <div class="tab-pane" id="order-complete">
                <div class="order-complete-content box-shadow">
                  <div class="row">
                    <div class="col-md-12 p-30">
                    <h2 class="arancione">ORDINE CONCLUSO CORRETTAMENTE</h2>
                    <p>Riceverai una email di conferma all'indirizzo segnalato al momento dell'acquisto.</p>
                    <p>Ti ricordiamo che l'ordine sarà affidato al corriere in circa <strong>1-3 giorni lavorativi</strong> (in base all'articolo che richiede il tempo maggiore di evasione).</p>

                    </div>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-md-12 p-30">
                      <p>Le disponibilità dei prodotti in vendita si aggiornano tutti i giorni alla mezzanotte: un incaricato dell'eshop ti contatterà nel caso in cui un prodotto ordinato dovesse essere già stato venduto in giornata ad altri clienti o su altri marketplace e dovesse risultare terminato al momento dell'evasione del tuo ordine.</p>

                      <p>Una volta che il pacco è stato da noi evaso, la spedizione della merce è affidata a <strong>un corriere espresso il quale consegna sul territorio nazionale in 24/48 ore</strong> dal momento in cui viene affidata la merce (72 ore per Sud, Isole maggiori e zone disagiate).</p>

                      <p>Appena la merce lascia il magazzino il cliente riceverà una mail automatica con la conferma di spedizione e il nominativo del corriere a cui è stata affidata la consegna.</p>

                      <p>Successivamente si riceverà direttamente dal corriere il codice traking e le istruzioni con le quali monitorare la consegna della merce direttamente sul sito dello spedizioniere.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div> 
</template>



<script>
export default {
  name: "ContenutoCattello"
}
</script>